[2018-06-28 21:17] ritazh opened #2 "Support MSI"

[2018-06-28 21:17] ritazh opened #3 "CI"

[2018-06-28 21:18] ritazh opened #4 "Docs"
- [x] Get started
- [ ] How to debug, logs
- [x] Operating modes (integrated, not-integrated)
- [ ] Warnings

[2018-07-13 18:41] ritazh opened #7 "Handle kv service limit"
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-service-limits

[2018-07-18 19:12] ritazh commented on #2
Closed via #6

[2018-07-18 19:12] #2 closed

[2018-07-18 19:12] ritazh opened #12 "Add to acs-engine"
https://github.com/Azure/acs-engine/pull/3498

[2018-07-19 19:24] #12 closed

[2018-07-19 19:25] ritazh opened #15 "CloudName"

[2018-07-30 06:04] uday31in opened #18 "Unable to mount volumes for pod "nginx-flex-kv-podid_default""
[code]

[code]

[code]

[2018-07-30 17:10] ritazh commented on #18
@uday31in can you share logs from `/var/log/kv-driver.log` on `aks-agentpool-23065106-0`?

[2018-07-30 17:31] uday31in commented on #18
[code]

[2018-07-31 04:15] ritazh commented on #18
Seems validation for the flexvolume properties have failed.

Make sure all the properties are all lowercase.`usepodidentity` and redeploy the pod.

[2018-07-31 04:16] ritazh opened #19 "Handle upper and lower cases for flexvol properties"
#18

[2018-07-31 04:18] ritazh opened #20 "Handle volume mount retry to mount existing file"
#18

[2018-08-01 03:45] ritazh commented on #18
@uday31in Can you pls confirm if this issue has been resolved and if we can close it?

[2018-08-01 15:45] uday31in commented on #18
@ritazh  - yes it worked. thank you for your assistance.

[2018-08-03 14:42] #18 closed

[2018-08-04 17:03] sam-cogan opened #23 "invalid character '/' looking for beginning of value"
When I try and deploy a pod with a secret mounted I am getting this error:

invalid character '/' looking for beginning of value

It seems to be related to the "driver" section of the flex volume, but I can;t see anything obvious I am doing wrong.

[code]
Pod Yaml File:

[code]

[2018-08-04 18:54] sam-cogan commented on #23
Looking at the logs on the node, I see the following

[code]

However, that resource group is the right one and contains the requested key vault.

[2018-08-04 21:17] ritazh commented on #23
Thanks for reporting this @sam-cogan. Just to confirm, were you able to create a secret `kvcreds` in the same namespace?
[code]

[2018-08-04 22:01] ritazh commented on #23
Yes looking at the error message, it definitely thinks `resourcegroup` under `options` in the yaml is missing. But from the pod yaml you pasted above, everything looks ok. Using your pod yaml, I was not able to reproduce this issue with my own keyvault values. Can you please delete the deployment and redeploy?

[2018-08-04 22:04] sam-cogan commented on #23
I've deleted and re-deployed quite a few times now and see the same result. I've also tried with a fresh yaml file copied from the docs.
Just to check, the sub and tenant ID, should these be the actual ID GUIDs, or the names?

[2018-08-04 22:09] ritazh commented on #23
They should be the actual IDs.

[2018-08-05 10:33] sam-cogan commented on #23
OK, well I fixed it but I'm not entirely sure what resolved it. When looking again this morning I noticed there was a spelling mistake in the resource group parameter name, and when I fixed that it worked. However, the spelling mistake wasn't present in the version I pasted above, so I guess I must have fixed something else along the way.

[2018-08-05 19:50] ritazh commented on #23
Glad this has been resolved. Closing this issue. Feel free to followup if you encounter other issues.

[2018-08-05 19:50] #23 closed

[2018-08-08 23:41] HighwayofLife commented on #23
We encountered this error/problem as well, and solved it by the following change in the kv-flexvol-installer:
[code]

Pull request incoming.

[2018-08-09 03:21] hmm01i opened #25 ""/var/lib/kubelet/volumeplugins/azure~kv/kv: line 27: sudo: command not found"
Deployed the daemonset as documented and then tried to deploy the example nginx container from your example. The pod failed to create and I see this in the kubelet log:

[code]
I checked and sudo is not available on that nginx image.
I made a change to the `ismounted()` function in kv to bypass the sudo line and it worked.

Perhaps it would be sufficient to check for the presence of ${MNTPATH}.

I

[2018-08-09 17:15] #25 closed

[2018-08-18 12:19] timwebster9 opened #28 "Support env variables"
It looks like this doesn't use actual Kubernetes secrets object correct?  And the only way for an application to access a secret inside a container is to read from the filesystem (that is, the volume mount)?

Just looking for clarity - thanks.

[2018-08-19 05:29] ritazh commented on #28
That is correct.  Instead of maintaining your application secrets as k8s secrets within the cluster, this solution provides your pods/containers an alternate secure way to retrieve application secrets stored outside of the cluster by using this k8s flex volume to communicate with Azure Key Vault.

Hope this help.s Let me know if you have other questions or concerns.

[2018-08-19 10:59] timwebster9 commented on #28
Ok thanks.  So one concern is that I've seen organisations put a lot of effort into converting their applications into microservices that are configured with environment variables as per the 12-factor app, so it looks like that won't work with this.

I'm just curious regarding the decisions behind doing it this way (with volumes).  I've seen other integrations do it this way as well, is this the n

[2018-08-20 18:30] ritazh commented on #28
This is a good feedback. Will think about how to enable this.

Doing it with volume was intended to make it easier for developers to adopt this by adding the flexvolume reference as part of their existing application deployment yaml as oppose to say adding another sidecar container just for this purpose.

Today many organizations have concerns around storing and maintaining application secrets as

[2018-08-20 18:47] timwebster9 commented on #28
Thanks - that makes sense.  It's good to know where things are going.

I'm glad to hear you will think about support for environment variable configuration.  Even if it's not best practice at the moment, supporting it will make migrating the application much easier (both to containers and to use volumes).

[2018-08-25 08:13] smartpcr opened #29 "vaultObjectVersion is not set"
Here is the yaml file:

[code]

And it failed with the following error:
Type     Reason                 Age              From                               Message
  ----     ------                 ----             ----                               -------
  Normal   Scheduled              4s               default-scheduler                  Successfully assigned keyvault-demo to aks-nodepool1-339

[2018-08-27 06:35] ritazh commented on #29
Thanks for reporting this @smartpcr Can you pls share logs from `/var/log/kv-driver.log` from `aks-nodepool1-33901137-2`?

[2018-08-27 20:59] smartpcr commented on #29
log is attached:

[kv-driver.log](https://github.com/Azure/kubernetes-keyvault-flexvol/files/2325605/kv-driver.log)
[TestPod.yml.txt](https://github.com/Azure/kubernetes-keyvault-flexvol/files/2325606/TestPod.yml.txt)

[2018-08-27 21:37] ritazh commented on #29
I see `CLIENTID: .appId` in the log. Was this redacted? can you pls share how you are creating the `kvcreds` k8s secret?

For your reference, from the README, to create the `kvcreds` k9s secret:

[code]

[2018-08-27 22:39] smartpcr commented on #29
I see correct secret (spn password) in the log, but not appId (should be 9a01914e-8bc1-427b-ad76-5197d3bb0a77). Here is what I did:
1. create service principal using password
[code]
2. create secret using spn's appId and password
[code]

Here is output describing secret:
[code]

[2018-08-27 23:01] ritazh commented on #29
Can you set `$spn.appId` to a variable then run kubectl create?

[code]

[2018-08-28 00:16] smartpcr commented on #29
here is the output of secret, client id is correct after decoding.

[code]

[2018-08-28 00:16] smartpcr commented on #29
here is the output of secret, client id is correct after decoding.

[code]

[2018-08-29 22:18] ritazh commented on #29
@smartpcr glad it worked for you! Closing the issue. You should probably delete that SP since the secret has been shared here.

[2018-08-29 22:18] #29 closed

[2018-09-04 17:59] davidcv5 opened #30 "question: production ready?"
@ritazh Thank you for building this. Would your consider it production ready? Thanks!

[2018-09-06 18:52] ritazh opened #33 "e2e tests with acs-engine"

[2018-09-06 18:52] ritazh commented on #3
closed via #32

[2018-09-06 18:52] #3 closed

[2018-10-08 07:33] timja opened #37 "Multiple secrets in one flexvolume"
Hi

Would it be possible to have multiple secrets in one flexvolume?
I'm trying to integrate this with jenkins configuration as code plugin:
https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/kubernetes-secrets

Which expects each secret to be under the same directory
i.e
[code]

To get more than one secret working with this tool it seems like you need different mount poin

[2018-10-08 14:00] ritazh commented on #37
Thanks for the feedback @timja. Seems like a good feature to add.Will add this to our feature backlog to implement this in the next release. Will keep you posted!

[2018-10-10 09:00] malachma opened #38 "The docu lacks some details which may result in errors"
The docu should  be extended, as it lakes some important Details which may result in erros like the following :

  Warning  FailedMount            8s (x5 over 17s)  kubelet, aks-agentpool-37252822-0  MountVolume.SetUp failed for volume "test" : mount command failed, status: Failure, reason: /etc/kubernetes/volumeplugins/azure~kv/azurekeyvault-flexvolume failed, failed to get key vault

Or

Warning

[2018-10-10 13:58] twem opened #39 "KeyVault Object Version latest"
Within the concept document is stats that the version can be omitted and it will return the latest version. this doesn't appear to have been implemented. If i exclude the version the container doesn't start correctly.

## Concept

## README.md

Name | Required | Description | Default Value
-- | -- | -- | --
keyvaultobjectversion | yes | key vault object version | ""

[2018-10-10 16:10] ritazh commented on #39
Thanks for reporting this @twem This might be a bug as the intention is to use the latest if `keyvaultobjectversion` is not provided.

[2018-10-11 08:59] twem commented on #39
I have run a few more test scenarios today.

## Everything working

[code]
the value is written to the ~/test folder

## exclude version
[code]
This should return the same result as test 1

## exclude tenantId

[code]

tenant id is not being set to a required field so it allows you to make a request but then gives a 404 as it cant find the vault.

[2018-10-14 07:20] pjbgf opened #42 "Leaking access tokens in log files"
Currently the generated access tokens used to access KeyVault are being logged in plain-text.

This allows a "reader" of the log files to privilege escalate, spoofing the Managed Identity in question and also gain access to sensitive information. Other identities could also be spoofed, depending on the credentials stored in the keyVault instance.

Please consider the PR #41 I have just submitted i

[2018-10-15 06:44] ritazh commented on #42
closed via #41

[2018-10-15 06:44] #42 closed

[2018-10-15 16:12] bhavin192 commented on #19
Can you please add more details to this?

[2018-10-15 16:52] ritazh commented on #19
We need to make sure all the flexvol properties are lowercase. Otherwise, the deployment will end with validation errors.

[2018-10-16 17:08] idanlevin commented on #37
+1 would love to have a list of secrets in one volume

[2018-10-16 17:13] idanlevin opened #44 "Remove "list" permissions"
Hi,

Does the FlexVol really needs a "list" permissions on KV?

Since KV doesn't have per-key-permissions, it's considered a best to only have a "get" permission without a "list" one, to avoid key traversing.

Assuming the user always provide a key name in the volume mount, I assume the "list" part is unnecessary.

Idan

[2018-10-16 19:09] #44 closed

[2018-10-16 19:10] ritazh commented on #44
Good catch @idanlevin thanks for the issue!

[2018-10-23 16:19] xtophs commented on #30
@ritazh: any updates you could share?

[2018-10-23 19:22] ritazh commented on #30
Thanks for checking in. Yes it! 🎉

[2018-10-29 17:19] khenidak commented on #37
I just want to clarify. `One volume` == `One keyvault`. I think the idea of multiple objects in one volume is ok as long as it points to one `keyvault`

Please do keep in mind that the current model enables us to spit correct error for `access denied` because it is one object per vol. With the proposed model the error will be very confusing because the user will have to read through to know exactl

[2018-10-29 17:56] idanlevin commented on #37
@khenidak I agree that one volume should be assigned to one keyvault, however I disagree with your second comment, KeyVault doesn't manage access per keys, it can only give a "GET" access which automatically gives you access to all keys.

Your comment is still valid for missing keys though, if a user accesses a key that doesn't exist, he will have to read through, but I believe it's worth it :)

[2018-10-29 18:12] nphmuller commented on #37
We have some applications that require 5+ secrets. Definining a flex volume p. secret would get really verbose, really quick. So this would make a great feature for us.

[2018-10-29 18:19] nphmuller commented on #28
I understand that it’s really bad practice to keep secrets in env vars, but we also have some legacy applications that only work that way and are really hard to change.

It would be really great if this scenario could be supported (but feel free to discourage it as hard as possible in the docs :) )

[2018-11-19 13:00] serbrech opened #46 "[Qestion] comment about daemonset workaround in installer yaml file"
This is more a question than an issue.
The [installer yaml](https://github.com/Azure/kubernetes-keyvault-flexvol/blob/a86050ab7f8123c1ec89e71a0336e5209b235172/deployment/kv-flexvol-installer.yaml#L34) file contains a comment that states :

[code]

I can see the same comment in the [installer.sh](https://github.com/Azure/kubernetes-keyvault-flexvol/blob/a86050ab7f8123c1ec89e71a0336e5209b235172/depl

[2018-11-22 19:19] ThorstenHans opened #47 "[docs]: Improve docs regarding AzureIdentity and AzureIdentityBinding"
tl;dr: Don't put `AzureIdentity` and `AzureIdentityBinding` in a single yaml file

The `AzureIdentityBinding` depends on `AzureIdentity` obviously. Unfortunately will the drive not do any consistency check here.

While trying to adopt the KeyVault integration using a PodIdentity, I added both `AzureIdentity` and `AzureIdentityBinding` to a single yaml file.

The only error I received was that the

[2018-11-22 19:40] ThorstenHans commented on #37
I've the same situation as described by @nphmuller I thing almost every real world application has to deal with more than one secret / key / certificate for a single application component.

I'd love to be able to pull all required items at once from a key vault instance to a single volume.

As mentioned by @khenidak a single volume should only support items from a single keyvault

[2018-11-22 20:25] ThorstenHans opened #48 "Bug when using k8s namespaces other than default"
I recognized a bug when using namespaces for deployments with `keyvault-flexvol`

I've a dedicated namespace `development`

After deploying the`AzureIdentity`, `AzureIdentityBinding` and a `Pod` to the `development` namespace. KeyVault driver isn't able to mount the key vault flex volume.

As a workaround the isse can be fixed by deploying both `AzureIdentity` and `AzureIdentityBinding` to the `de

[2018-11-26 11:33] serbrech opened #50 "Allow for different certificate format (public/private key)"
When pulling an object of type cert from keyvault, we do not have a choice in the format of the resulting file. Additionally, the current implementation only gets the public portion of the certificate.

Being able to pull both the public and secret part of the certificate in a `mycert.crt` and `mycert.key` would be useful to setup SSL endpoint for ingress controllers for example.

[2018-11-26 11:37] serbrech opened #51 "Allow to specify an Alias for the file name"
In the original [docs/Concept.md](https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/docs/concept.md) there is an optional `Alias` parameter, which is not implemented, but would indeed be useful.

Note that this would needs to consider multiple secret compatibility https://github.com/Azure/kubernetes-keyvault-flexvol/pull/49

[2018-11-27 02:39] ritazh commented on #37
Closed via https://github.com/Azure/kubernetes-keyvault-flexvol/pull/49

[2018-11-27 02:39] #37 closed

[2018-11-27 16:34] serbrech commented on #48
I believe that this behavior is caused by https://github.com/Azure/aad-pod-identity/issues/115

[2018-11-28 18:08] ThorstenHans commented on #48
Great, @serbrech thanks for linking that one

[2018-12-05 02:17] badalk opened #54 "working with OSBA"
Does keyvault flextool work with AKS OSBA? how do i create my secrets in key-vault and refer it in OSBA service manifests using keyvault flex tool? Any guidance?

[2018-12-13 23:02] Ravibabu-Nannuri opened #56 "How to read the mounted azure key vault values in POD env variables"
Could you please share if we have the way to read the mounted azure key vault values in POD env variables?

[2018-12-13 23:05] Ravibabu-Nannuri commented on #28
Is this feature ready to use ?

[2018-12-14 01:58] hugree commented on #50
I think that I just hit that wall too. I uploaded a PFX certificate and it's not working with my Spring Boot application using it. When I use it directly it works fine. When I use it via the mounted flexvolume it's not working correctly. The file size is different. The mounted version is much smaller.

Is there any reason for such behavior?

[2018-12-14 05:08] serbrech commented on #50
Try setting the type as secret.
The private part of the certificate is downloadable as a secret.
The « cert » type only downloads the public part of the cert.
On Fri 14 Dec 2018 at 02:58, hugree <notifications@github.com> wrote:

[2018-12-18 23:20] ritazh commented on #28
We definitely hear you that migrating solutions that use env vars is going to be a challenge and an education. But collectively we felt that it’s not something we should support. We could perhaps start by updating common applications that use env vars today and show users how to do that more efficiently.

[2018-12-18 23:21] ritazh commented on #56
Duplicate of #28

[2018-12-18 23:21] #56 closed

[2019-01-02 17:50] Ravibabu-Nannuri commented on #28
Is there any example deployment which we can refer to use the AKV secrets with POD?

[2019-01-02 20:56] ritazh commented on #28
@Ravibabu-Nannuri You can take a look at this: https://github.com/Azure/kubernetes-keyvault-flexvol#use-the-keyvault-flexvolume

[2019-01-04 14:39] pascalnaber opened #57 "Error often comes up when reading secret"
I've configured the Keyvault flex using MSI.
Deployment:

[code]

[2019-01-04 23:06] ritazh commented on #57
@pascalnaber Thanks for reporting this. The error you are receiving might be resulted from network issue when exec into the pod from outside of the cluster. Is this on AKS? Is the container able to get the value of the secret from inside of the container?

[2019-01-04 23:36] ritazh commented on #57
Confirming I can also reproduce this connection issue on AKS on any of the running pods. Clusters running aks-engine seem to be fine.

[2019-01-07 21:40] martin2176 opened #58 "does azure key vault flex vol mount reflect latest version of secret in Key vault without redeploying pod?"
I have a question I ran into while testing this . If I generate a new secret in Key vault, does the volume mount inside a pod reflect the latest value . If it does, how long is the wait time ?

Inside the pod spec for the volume, I am not using the version number so I always refer to the latest version. During my testing, new version of the secret in Key vault is not shown unless I delete and recr

[2019-01-07 23:03] ritazh commented on #58
@martin2176 What you have described is the expected behavior as a flexvolume is only mounted when the pod is created. To update the content pulled from the source, the pod will need to be restarted so that the flexvolume will mount the latest from source.

[2019-01-07 23:04] ritazh commented on #57
Closing this issue as the error is resulted from the platform, not this solution. Feel free to reopen if you have further questions about this.

[2019-01-07 23:04] #57 closed

[2019-01-07 23:05] ritazh commented on #48
Closing this issue in favor of pod identity's issue.

[2019-01-07 23:05] #48 closed

[2019-01-08 00:21] martin2176 commented on #58
Thanks for the reply.
Is it because the mount is actually referring to the Object version number even though I left that out in the POD spec?

[2019-01-08 01:00] ritazh commented on #58
The flex volume will only be triggered at the time the pod is created. During pod creation, the flex volume will look for the object version in `keyvaultobjectversions`. If you do not provide a `keyvaultobjectversions` or leave it empty in your spec, then it will use the latest version from Azure Key Vault. Once the pod is running, the flex volume's job is completed. The secret content is mounted

[2019-01-08 21:44] #58 closed

[2019-01-09 21:13] pascalnaber commented on #57
Wouldn't it be good that the code doesn't give an exception to something that is going wrong, despite being caused by the platform? I see an exception which shows a line of code from this project. Solving this makes the code more robust if you ask me.

[2019-01-09 22:56] ritazh commented on #57
Is this the error you are referring to `E0104 15:22:49.282352 422 v3.go:79] EOF` If so, that is not coming from this project.

[2019-01-10 13:42] martin2176 commented on #28
@ritazh
I am afraid I disagree with the notion that ENV variables is a bad idea.
Its not the ENV variables which is bad, its storing secrets inside K8S and using those stored secrets as ENV variables which makes in insecure.
A lot if not all images on Container registries use ENV variables to modify the behavior of application. Very few (if any) provide an option to read variables from a file (a m

[2019-01-10 17:52] ritazh commented on #54
@badalk Sorry for the delay. Are you referring to using flexvol to mount certs used to deploy the OSBA service like here? https://github.com/Azure/open-service-broker-azure/blob/master/contrib/k8s/charts/open-service-broker-azure/templates/deployment.yaml#L131-L133

[2019-01-10 18:23] badalk commented on #54
@ritazh the one you have shown is mounting the volume from kubernetes secret store. In Azure Kubernetes Service, secrets are not encrypted at rest and hence we want to completely avoid using it. We are able to do so with key-vault flex volume using option 2 (with pod identity approach and not service principal). Unfortunately, when we use OSBA to provision and connect other azure services, the sec

[2019-01-10 19:16] pascalnaber commented on #57
Ah I See. I made the assumption the error came from the project. Sorry. It's absolutely clear why the issue is closed. Thanks!

[2019-01-10 20:14] ritazh commented on #54
@badalk This makes sense.

AKS does encrypt secrets-at-rest, but the keys are managed by AKS.

I believe service catalog is responsible for creating/updating the k8s secrets created as a result of a service binding: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_binding.go#L517

cc @jeremyrickard @carolynvs

[2019-01-10 20:36] ritazh commented on #54
AKS is a managed service that includes encryption at rest. I'm also not able to find any docs for this at the moment.

cc @seanmck @iainfoulds

[2019-01-10 20:52] ritazh commented on #28
@martin2176 one workaround is to set the environment variable before the main process starts in your container. For example:
[code]

[2019-01-11 15:02] carolynvs commented on #54
Service Catalog is capable of either creating a new secret for you or injecting values into an existing secret.

[2019-01-12 18:16] alexsandro-xpt commented on #50
So... alright.

[2019-01-14 20:43] robwafle commented on #38
Hi All.  I'm having trouble using this out of the box.  I've verified that my service account works by accessing the keyvault via powershell using that secret.  I've used Disconnect-AzureRmAccount to ensure I wasn't using my own credentials.

The events I can see when I type `kubectl describe pods` is:
Events:
  Type     Reason       Age   From                      Message
  ----     ------

[2019-01-16 13:51] jemag commented on #54
I am sorry if this a dumb question, but if secrets are encrypted at rest with AKS, does it mean that using straight secrets with AKS would be secure enough to use in a production setup?

If so, what are the security advantages of using Azure Key Vault and this project flexvol?

[2019-01-16 17:49] ritazh commented on #54
If you already have an enterprise-grade secrets store for managing and storing your application secrets, e.g. Azure Key vault, and you want Kubernetes to use the same source of truth for secrets, then this project provides a way to retrieve sensitive data from the store into your Kubernetes applications using a volume.

[2019-01-16 18:06] jemag commented on #54
Thank you for this clarification.

We are interested in using some 3rd  party helm charts and since they already include  secrets, we were worried about not being able to use those if AKS was using only base 64 encoding (which, thanks to your comments, seems to not be the case). This might be a concern for other teams, I really wish this was more clearly specified in the documentation.

Azure Key

[2019-01-16 18:18] ritazh commented on #38
Sorry for the delay. Few things to confirm:

1. I assume you are using the service principal option, not pod identity. Did you create the kvcreds k8s secret from the Azure service principal that has access to your key bault in the same namespace?
2. Can you pls share logs at /var/log/kv-driver.log from the agent node running your pod?
3. Pls share your deployment yaml file

[2019-01-16 18:33] badalk commented on #54
@iainfoulds @seanmck any guidance on the documentation which clarifies how secrets are stored in AKS?

[2019-01-16 19:12] iainfoulds commented on #54
@badalk - @ritazh just mentioned five minutes beforehand about working with docs, so nothing more to share just yet :) We'll prioritize the request against existing doc needs that we have in our backlog. I don't have an ETA on that.

[2019-01-18 12:54] eamonnmcevoy opened #60 "Should I manually create the key value instance?"
Do I need to manually create the key vault before following the start-up guide, or will it be created automatically?

The reason I'm asking is that I came across this tool after watching with video regarding acs, where the vault seems to be automatically created: https://www.youtube.com/watch?time_continue=57&v=yoiNXPrfMKw

[2019-01-18 15:58] badalk commented on #54
Thanks @ianfoulds and @ritazh . While documentation gets updated, Can I assume what Ritazh mentioned (AKS does encrypt secrets-at-rest, but the keys are managed by AKS) to make certain decisions.

[2019-01-18 19:10] ritazh commented on #54
@badalk Yes. and we will let you know when we have updated our Microsoft docs. Thank you for your patience!

[2019-01-18 19:17] ritazh commented on #60
@eamonnmcevoy For this solution, we expect that you have already created a key vault instance and you have some sensitive content you want to use in your Kubernetes application. The use case this solution addresses is if you already have an enterprise-grade secrets store for managing and storing your application secrets, e.g. Azure Key vault, and you want Kubernetes to use the same source of truth

[2019-01-20 23:04] monteledwards commented on #38
Hi @ritazh ,  I am also having the same issue as @robwafle.
"""
# hello-kubernetes.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-kubernetes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-kubernetes
  template:
    metadata:
      labels:
        app: hello-kubernetes
    spec:
      containers:
      - name: hello-kubernetes
        image: paulbouwer/hello-ku

[2019-01-21 01:55] ritazh commented on #38
Hi @monteledwards Thank you for providing more information.

No, this service principal just needs Reader Role to the keyvault instance and have `get` access policy to the secrets you are trying to access, which should have been set if you are able to get to the secret using the az cli.

Did you look for this file on the agent node your pod is running? For example, you can look for it like this an

[2019-01-23 01:11] qike-ms opened #62 "Get updated value after keyvault is mounted"
Right now, the value of the key is only set at the time when the keyvault is mounted which is the time when the pod starts.  To get subsequent updates, pod needs to be restarted. Can we add a sidecar to watch the value and update the value in the mounted volume?

[2019-01-25 10:44] Ramk22 opened #63 "Use kubernetes-keyvault-flexvol in a deployment"
I could get this working on a pod. But how can I use it in a deployment, where I will have multiple pods spread across nodes. Each pod has to access the volume that contains the key.

Is there any alternate solution for such a scenario?

Thanks

[2019-01-26 00:16] ritazh commented on #63
@Ramk22 Please take a look at #64. Let me know how this works for you.

[2019-01-26 00:18] ritazh commented on #60
Closing this issue for now. @eamonnmcevoy feel free to reopen if you have additional issues or comments.

[2019-01-26 00:18] #60 closed

[2019-01-26 00:21] ritazh commented on #50
Fixed via #59

[2019-01-26 00:21] #50 closed

[2019-01-26 01:37] badalk commented on #63
Here is a working example

[code]

Hope this helps

[2019-01-28 06:02] Ramk22 commented on #63
@ritazh That worked. Thank you.

[2019-01-28 06:02] #63 closed

[2019-01-28 22:18] ritazh opened #65 "Add useragent"
(edited on behalf of @ritazh )

Add http userAgent header to all requests with value `keyvault-volume-driver` whenever possible.

[2019-01-29 09:59] thomaseyde opened #66 "Support .NET configuration conventions for structured data"
The .NET convention for structured keys is using underscores where json or other structured format is not available, like environment variable names and, in this case, file names.

For some reason, Azure Key Vault doesn't allow underscores in key names, so dashes are used instead. And the logical thing is to use the `KeyPerFileConfigurationProvider` and call `config.AddKeyPerFile("/kv")` to load a

[2019-01-29 21:22] ritazh commented on #66
@thomaseyde can you please provide an example of the name of the object in Azure Key Vault, what you expect to see in the container and what this solution has produced?

If I understand correctly, it sounds like we are creating the file with the name of the key vault object, which is not what your application expects. Is that correct?

[2019-01-30 07:30] thomaseyde commented on #66
Given two secrets in Azure Key Vault, named `Key` and `Structured--Key`, and the volume mounted to `/kv`, I expect two files in `/kv`, named `Key` and `Structured__Key`.

That is, all double-dashes (`--`)in Key Vault names are replaced with double underscores (`__`).

This solution produces two files with names unchanged, `Key` and `Structured--Key`.

[2019-01-30 18:41] ritazh commented on #66
@thomaseyde Thanks for the details. For this scenario, the recommendation is to make a copy of the file from inside the container to the desired filename. For example `cp /kvmnt/Structured--Key Structured__Key`. This solution is agnostic to platforms as it mounts the content exactly as it's stored in key vault. Once the file is mount to your container, your application can process it as needed.

[2019-01-31 10:01] thomaseyde commented on #66
I can appreciate the desire to be agnostic, still I hope you will reconsider and find a solution to the problem.

Given that Azure Key Vault is not meant only for .NET developers, you have no choice but to be platform agnostic. This means the default behavior should be as it is.

But, from a .NET developer's perspective, it's expected that the mounted volume contains usable filenames so we can loa

[2019-02-01 01:05] khenidak commented on #66
It is a valid request. Specially valid for applications that are migrating to Kubernetes. One way of doing this, is to maintain the current behavior and provide a parameter to do the replacement needed (maybe a reg exp?)

[2019-02-01 01:07] khenidak commented on #51
also #66 is related here.

[2019-02-01 01:10] khenidak commented on #62
We have been talking about this and i have been taking an opposing position. Updating the key requires a rolling update to the application pods. That protects against:

1. A situation where the entire application are unavailable during config reload across all replicas.
2. Protects against fat fingering a config file and mistakenly pushing it to clusters.

[2019-02-01 01:12] khenidak commented on #15
We need to be able to set cloud name to enable the driver to work in sovereign clouds

[2019-02-01 01:12] khenidak commented on #7
I think this should be low pri. Because failures will be retried by kubernetes (and logged).

[2019-02-02 16:39] thomaseyde commented on #66
That would work. But the syntax will be clumsy for many values. Also, if a value doesn't have an alias, what do one write? And when something goes wrong, it's hard to match alias and type to the object name.

Can't the above be written something like:

[code]

[2019-02-05 16:31] ferantivero commented on #38
@ritazh I don't want to add noise this issue/discussion. But I'm facing the non-existant issue mentioned in here with the very same description (timeout) but using pod identity.

<img width="456" alt="image" src="https://user-images.githubusercontent.com/158487/52287160-6d523900-2948-11e9-850c-e04a743a8e6e.png">

[code]

just in case, please let me share my config:

[code]

Error:

[code]

[2019-02-05 16:56] ferantivero commented on #38
@ritazh just been able to troubleshoot this. I totally missed to install flex volume in my cluster, don't ask why 😄

After getting [flex volume option 2 installed](https://github.com/Azure/kubernetes-keyvault-flexvol#install-the-keyvault-flexvolume) it just worked like a charm and of course the ```kv-driver.log``` is in there.

[2019-02-06 18:22] hjarraya opened #67 "kv flex-volume mounting after multiple failures"
Hi,

I am having an issue that I am not able to explain/isolate.  When the pod starts it fails to mount and then after few minute it successfully mount the kv-flexvolume, this is not consistent sometimes it never mounts.

[code]

Here is the logs from the aks-default-38594516-0

[code]

[2019-02-06 20:48] stevenicholl opened #68 "Volume mount failing but secret being retrieved"
Currently implementing a test of Azure KV FlexVolumes with AAD PodId in an AKS cluster but experiencing some strange behaviour.

AAD PodId K8's components deployed using helm https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity & https://raw.githubusercontent.com/Azure/kubernetes-keyvault-flexvol/master/deployment/kv-flexvol-installer.yaml . Azure components (User Managed

[2019-02-07 16:31] ritazh commented on #68
@stevenicholl If you see this working, then definitely the volume has mounted and the `AzureAssignedIdentity` has been created.

The entire `AzureAssignedIdentity` creation process gets triggered when we create the volume at pod creation time. All these components (find identity, assign identity, retrieve token for key vault) will take time to complete. If volume mount fails, the kubelet will retr

[2019-02-07 16:38] ritazh commented on #67
@hjarraya The entire `AzureAssignedIdentity` creation process gets triggered when we create the volume at pod creation time. All these components (find identity, assign identity, retrieve token for key vault) will take time to complete. If volume mount fails, the kubelet will retry. Hence you are seeing errors in the log but looks like eventually all the dependent components got created successful

[2019-02-08 01:30] #65 closed

[2019-02-08 01:46] ritazh commented on #65
@khenidak I've set the value to `k8s-keyvault-flexvol` to match the pod identity one, which starts with `k8s-`

[2019-02-08 10:01] stevenicholl commented on #68
Thank you @ritazh

On one hand it is good to get some reassurance that what I was seeing can be explained.

On the other hand, based on the assumption everything has worked because I can retrieve a secret, grateful for any suggestion to prevent the failed mount log against the pod. When describing the pod, the failed mount log would lead anyone to believe the process had failed even though we now

[2019-02-08 16:49] ritazh commented on #68
@stevenicholl Can you please share the output of `kubectl describe pod <name of the pod with the mounted secret>` then `kubectl get events`. Please redact any sensitive information.

[2019-02-08 23:51] chetanku opened #71 "How does application appsettings.json access the values once the key or secret is mounted in the container file system"
I am working on a .net core 2 application and trying to do a POC on this. But I am not able to understand how the application should be set up to read the secrets, keys etc for eg, or does this replace the appsettings.json file itself? any tutorial will be awesome. thanks

[2019-02-09 12:22] martin2176 opened #72 "Can KV Flex Volume be used to access multiple Key Vaults"
scenario like this:
Multiple teams (business units) using a shared AKS cluster.
Each team want their own key vault and be able to access them using their own Service Principal using KV Flex volume mount.
Can I create something like below to be able to do this.
The idea being without stepping on each other's Key Vault
1) kvcredsteam1 will be used by Team1 to access Key Vault1
2) kvcredsteam2 will b

[2019-02-11 14:31] stevenicholl commented on #68
Hi @ritazh

Below is the output for the `kubectl describe pod <name of the pod with the mounted secret>`

[code]

On running `kubectl get events` against the namespace I get: (note this was executed a number of minutes after above so the timings won't perfectly match):
[code]
In the cluster events I get a corresponding azure-identity-binding applying at exactly the time the container started:
[cod

[2019-02-11 16:13] ritazh commented on #68
@stevenicholl yes this is the expected behavior following the pod's creation lifecycle. Whenever a volume mount attempt has failed, the kubelet will retry mounting the failed volume and the failed event will be recorded. These events help us debug if any of the volume mounts failed. They are the history of pod, not current state of the pod. If any of the volume mounts failed, then the pod will not

[2019-02-11 20:02] erick-thompson opened #73 "Can you use a wildcard for keyvaultobjectnames?"
The pattern that our services follow is that every service has its own Azure Key Vault instance, so the service should have access to all the secrets in the Key Vault. This allows for new secrets to be added to the Key Vault and get picked up by the service only a redeploy (and not needing to modify any config files).

Is there some way to use a wildcard for keyvaultobjectnames?

Thanks,
Erick

[2019-02-12 11:10] stevenicholl commented on #68
@ritazh , thank you for confirmation. We will proceed on the basis that, if the pods start, the volumes have mounted. If they didn't mount correctly, the pod creation process will not have finished and will be stuck in a `ContainerCreating` state.

[2019-02-12 16:50] ritazh commented on #68
@stevenicholl That's correct. Closing this issue for now, but feel free to reopen or file new issues if you have additional questions.

[2019-02-12 16:50] #68 closed

[2019-02-12 16:57] ritazh commented on #72
@martin2176 The use case you have described can be accomplished with namespaces. Each team can deploy secrets and applications within their own Kubernetes namespaces to limit access from other teams. Take a look at: https://kubernetes.io/docs/tasks/administer-cluster/namespaces/#understanding-the-motivation-for-using-namespaces

Key vault flexvolume definitely supports this use case as each volume

[2019-02-12 17:03] shayshahak opened #74 "MountVolume.SetUp failed for volume "test" : invalid character 'F' after object key:value pair"
I’m deploying FlexVol on AKS according to the procedure:
https://github.com/Azure/kubernetes-keyvault-flexvol

I’m trying option 1 as mentioned **“OPTION 1 - Service Principal”** and using the sample POD configuration file provided in the same doc.

however the POD doesn’t seem to recognize the flexVolume configuration section and I get the following error:
**“MountVolume.SetUp failed for volume "

[2019-02-12 17:05] ritazh commented on #71
@chetanku Since the secret data is mounted to your pod as a file, there are two ways you could get the value for your application:
1.  Update your .net core application to read the value from the mounted file instead of the appsettings.json
2. If you want to continue to use the appsettings.json to retrieve this value, you could add a script before your main process starts in the container to get t

[2019-02-12 17:09] ritazh commented on #73
@erick-thompson With a wildcard for `keyvaultobjectnames`, do you mean we will then mount all objects in key vault satisfying this pattern? We do not have this feature today but let's keep this issue opened so people can vote for it.

[2019-02-12 18:15] ritazh commented on #74
@shayshahak can you please share your pod yaml and `kubectl describe pod <pod name>`? please redact sensitive information.

[2019-02-12 19:43] shayshahak commented on #74
@ritazh yes of course.
[podyaml.txt](https://github.com/Azure/kubernetes-keyvault-flexvol/files/2857379/podyaml.txt)
[describepod.txt](https://github.com/Azure/kubernetes-keyvault-flexvol/files/2857388/describepod.txt)

[2019-02-12 19:58] erick-thompson commented on #73
@ritazh That is correct. I am mainly looking for secrets, but could see it's usefulness for other Key Vault types as well.

[2019-02-13 08:09] ritazh commented on #74
@shayshahak Thanks for providing these. Few things to check:
1. I see your pod was created in namespace `kv`. Please make sure your secret kvcreds was also created in namespaces `kv`.
2. ssh into the agent node running the pending pod, get the hostname with `kubectl get pod -o wide`, or from your `describe pod` output it's `aks-agentpool-94615314-1`. then get more detailed logs from the node at: `

[2019-02-13 08:12] samisq opened #76 "Flex-volume with pod-identity fails to mount multiple times with 403 error then succeeds"
When deploying/restarting a pod with `keyvault flex-volume`, volume mounting fails multiple times with 403, but it eventually succeeds after a few retries. Is that an expected behavior? Is there way to mitigate it and avoid this error?

Error details:
[code]
NMI logs:
[code]

[2019-02-13 08:19] shayshahak commented on #74
@ritazh
1. the secret is in fact resides with the same namespace. when it's not i see the error "MountVolume.SetUp failed for volume "test" : Couldn't get secret kv/kvcreds err: secrets "kvcreds" not found".

2. please see the requested log, there are some failures in it.
[kv-driverlog.txt](https://github.com/Azure/kubernetes-keyvault-flexvol/files/2859420/kv-driverlog.txt)

thanks

[2019-02-13 08:25] shayshahak commented on #74
@ritazh

1. the secret is in fact resides with the same namespace. when it's not i see the error "MountVolume.SetUp failed for volume "test" : Couldn't get secret kv/kvcreds err: secrets "kvcreds" not found".
2. please see the requested log, there are some failures in it.
[kv-driverlog_new.txt](https://github.com/Azure/kubernetes-keyvault-flexvol/files/2859447/kv-driverlog_new.txt)

(uploaded agai

[2019-02-13 08:36] shayshahak commented on #74
got it! from the log i saw "AccessDenied" so i went back to my key vault only to find out the the ServicePrincipalName was suddenly missing on the my Key Vault.
fixed that, redeployed and now the sample pod is running:

**NAME                        READY     STATUS    RESTARTS   AGE
keyvault-flexvolume-vzjqf   1/1       Running   0          4m
nginx-flex-kv               1/1       Running   0

[2019-02-13 08:37] #74 closed

[2019-02-13 12:59] wlodekb commented on #76
confirm that I have exactly the same, some logs with just newest kv-flexvolume driver:
[code]
NMI:
[code]
might be problem with ADAL/AD ?

[2019-02-13 13:27] vplauzon opened #77 "Consider using a CRD for holding Key Vault configuration"
This really is a *UX improvement* as it wouldn't  enable new scenarios per se.

The configuration we need to put under "flexVolume" is **quite verbose**.  Most of it gets repeated in each pod using the same key vault:

* driver
* secretRef
* usepodidentity
* keyvaultname
* resourcegroup
* subscriptionid
* tenantid

From the DRY principle, it would be nice to have that configuration in a separate o

[2019-02-13 14:39] stevenicholl commented on #68
Thanks @ritazh , The only other thing I'd be interested to know if it is understood why the mounts initially fail? This only occurs for us when it is a KeyVault FlexVolume, no issues when mounting secrets to pods from Kubernetes secrets.

[2019-02-13 17:39] vplauzon opened #78 "Why do we need service principal to have RBAC-reader on vault?"
Using the Key Vault REST API, we just need the service principal to have read (secrets / keys / certificates) policy in the vault.

We do not need to have Azure Control Plane / RBAC Reader on the Key Vault itself.

So why do we need to give that privilege?  [Principle of Least Privilege](https://en.wikipedia.org/wiki/Principle_of_least_privilege) would dictate to just have the policy, no?

[2019-02-13 18:22] ritazh commented on #78
@vplauzon You are referring to this step right?
`az role assignment create --role Reader --assignee <principalid> --scope /subscriptions/<subscriptionid>/resourcegroups/<resourcegroup>/providers/Microsoft.KeyVault/vaults/<keyvaultname>`

This is required by https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/azurekeyvault-flexvolume/keyvaultFlexvolumeAdapter.go#L145-L146 to get and va

[2019-02-13 18:28] #72 closed

[2019-02-13 18:32] ritazh commented on #76
duplicate of #67

[2019-02-13 19:12] vplauzon commented on #78
I see.  This allows us to validate the Key Vault does exist I suppose.

The Key Vault API doesn't require RBAC access.  It is a different plane.

For instance, in [this blog](https://vincentlauzon.com/2019/02/13/accessing-azure-key-vault-using-managed-service-identity-logic-apps/), I use the Key Vault REST API while having only policies access.  If you run the sample (ARM template), you'll see the

[2019-02-13 22:36] ritazh commented on #78
That's right, we need to first validate the key vault exists before getting content from it. Hence we need access in both places. Closing this issue for now. Feel free to reopen if you have other questions.

[2019-02-14 18:28] ritazh commented on #77
The idea here is to use existing kubernetes objects, not create a new one.

[2019-02-15 02:39] dbilleci-lightstream opened #81 "Brand new install - getting error "invalid character""
Hello, I'm trying this out for the first time.  I've followed the instructions, I have a new cluster just setup today, and I've put together these steps for the whole process on a brand new cluster.

[code]

After I run this, the nginx pod won't start up, doing a describe shows this error:

[code]

My identity 0afbc123-3-eus2-uai does have Reader on the thetestkeyvault, as well as the secrets/cert

[2019-02-15 03:39] dbilleci-lightstream commented on #81
Here's the log from the node:

[code]

[2019-02-15 08:01] ritazh commented on #81
@dbilleci-lightstream Can you please provide the logs from the mic pod and the nmi pod running on the same host as your pod? `aks-default-15419034-0`

Another thing to check is if your identity is created in a different resource group as that of the AKS nodes (prefixed with 'MC_' ) then make sure you run the following to ensure your AKS service principal has the `managed identity` role to assign p

[2019-02-15 16:40] dbilleci-lightstream commented on #81
Hi @ritazh thank you for your reply.  Yes, the identity for the K8s cluster is not part of the MC_ group.  I checked the logs on the `mic` pod and saw the error saying that the SPN did not have authorization to write userAction to the identity as you predicted.

[code]

The reason I missed this step is that the README says this about installing aad-pod-identity:

[code]

However not all steps are

[2019-02-15 16:54] ritazh commented on #81
@dbilleci-lightstream

Yes this step should definitely be mentioned in the README. PRs are definitely welcome! 👍 If you have more issues on pod identity and if you are looking for more detailed steps, you can also checkout the pod identity repo: https://github.com/Azure/aad-pod-identity.

I have seen the permission assignment takes few minutes to kick in. You might also want to redeploy all the po

[2019-02-15 17:09] dbilleci-lightstream commented on #81
It worked on the new cluster I spun up!  I waited about 5+ minutes after applying the permission on the old cluster, but the permission didn't kick in yet, I should have waited 30 minutes to make sure..sorry about that.  But, a new cluster did work.

I see the identity mapped as you have shown in your image there to the VM node in the agentpool.

I might be able to run that same test again in a li

[2019-02-15 18:23] ritazh commented on #81
@dbilleci-lightstream Glad it's working for you. Closing this issue. But feel free to reopen or create new ones if you have other questions.

[2019-02-15 18:23] #81 closed

[2019-02-15 18:24] dbilleci-lightstream commented on #81
Ok thank you!  Here's the PR for the docs mini-refresh, I did it from my personal account rather than my work account. https://github.com/Azure/kubernetes-keyvault-flexvol/pull/82

Thanks!

[2019-02-22 21:27] shawnj opened #83 "Failed to Mount: 'Invalid character 'I' looking for beginning of value'"
We are getting the following error when trying to use the Azure KeyVault Flexvol:

kubectl output using at test job:
[code]

Logging output:
[code]

The volume is successfully mounted after a 500ms retry attempt.

It appears that the `output` from the `stderr` includes more than the status and that data can't be consumed.  I have tested removing the `-logtostderr=1` from line [158](https://github.

[2019-02-26 02:50] #83 closed

[2019-02-27 10:37] KevinJCross opened #86 "Support for Security context FSGroup"
We have successfully mounted our keyvault and exposed some secrets from multiple vaults. This seems to work well and are happy with this.
There is a problem using this driver in our products because we are trying to read these using a module in a node/java app that is not running at root user.

Currently all the mounts are as using root group and user consequently we can not read the secrets in th

[2019-02-27 16:36] #86 closed

[2019-02-27 16:37] KevinJCross commented on #86
This was not needed ...
It seems
[code]
is not compatible with the readonly on the flex-volume .... once this was removed it set the group but not the user.

[2019-02-28 09:27] KevinJCross commented on #54
Does written in unencrypted text to a temp fs really count as encrypted at rest?

[2019-02-28 14:39] jemag commented on #54
Pretty sure they mean encrypted at rest on on the master node. The behavior you are describing is once you use a secret within a pod.

[2019-03-12 05:21] jmspring opened #87 "Documentation should include the minimum supported K8s version"
Recently, someone was attempting to use flexvol in a K8s cluster but had an older 1.11.x (may have been 1.11.5) and flexvol failed.  We should document the expected minimum K8s version that is to be supported.

[2019-03-12 06:25] ritazh commented on #87
@jmspring can you please share the specific errors you got from `kubectl describe po`? Flexvolume has been around for awhile now. It should work for 1.11.x. I just verified this works in a cluster with Kubernetes `v1.11.2`.

[2019-03-12 16:14] vtiwari227 opened #88 "Can we mount the whole keyvault instead of specific secrets"
Hi, we have a use case where we want to access the long list of secrets, I was wondering if it's possible to mount the whole keyvault or do you support regex in secret name so I  can mount a list of secrets in one call instead of providing the individual secret name in the template

[2019-03-12 17:39] #51 closed

[2019-03-12 17:39] #66 closed

[2019-03-15 05:49] ritazh commented on #88
I think this is a duplicate of #73, which is an enhancement if there are enough people asking for this. Contribution welcome! Going to close this issue for now. But feel free to reopen or chime in on the other issue.

[2019-03-15 05:49] #88 closed

[2019-03-15 08:09] bartb01 commented on #28
@ritazh Hi, your example is for the nginx container specifically. However, what if an image for microservices is provided and you do not know the start command? My point is, the container would be running fine normally, but when you add a command to the deployment file, only this will be executed and then the status becomes 'completed'. I tried adding a 'sleep infintely' to keep the container runn

[2019-03-15 18:22] deepak0917 commented on #28
@bartb01 -  you are right, the command is executed in a subshell. To have the parent shell have this env variable, you should do this.

**command: [“/bin/sh”, “-c”, “echo ‘export TESTSECRET=$(cat /kvmnt/mysecret)’ >> ~/.bashrc; tail -f /dev/null;“]**

[2019-03-18 14:34] bartb01 commented on #28
@deepak0917 thanks for your reply! I cannot look inside the image so its not possible for me to get the startcommand. I have tried executing your command (without tail-ing /dev/null) in a postStart lifecycle:

[code]

 However this unfortunately only creates the environment variable when logging into a shell (e.g. kubectl exec -it <pod> bash)
I tried it with etc/environment and etc/profile.d/seten

[2019-03-20 06:15] DavidParks8 commented on #62
If the volume gets updated on the fly, we could use https://github.com/stakater/Reloader to auto re-deploy. There is value in allowing for rapid/automated secret rotation.

[2019-04-10 07:19] vivekj11 opened #91 "unable to mount volume-- (Duplicate issue but other resolutions are not working)"
I am facing a similar issue related to volume mount.
my pod definition --

[code]

Logs from /var/log/kv-driver.log

[code]

As per the suggestions in other issues, I waited for more that one hour but the volume is not mounting.

Azuredentity definition--
[code]
Azure binding definition--

[code]
Looking for urgent help.

[2019-04-10 17:43] ritazh commented on #91
@vivekj11 From the logs, it seems the issue is related to pod identity. The `nmi` component is not able to get the access token from the azure identity to access your key vault. Few questions:
1. Can you please check to make sure you are using the latest pod identity deployment yaml: https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml
2. What do you get when you

[2019-04-11 08:46] vivekj11 commented on #91
@ritazh Thank you for the quick response. I guess I had missed something during my last setup. I did the setup once again from scratch and now it is working fine.

quick note - I had provided all required permission as mentioned in point 3. but the missing part was RBAC authorization.  Somehow RBAC setup was not correctly configured during my failed attempt.

closing this issue now.

[2019-04-11 08:46] #91 closed

[2019-04-15 15:06] juona commented on #67
Thank you for the explanation @ritazh , now we know not to investigate this. Gotta second @hjarraya though in that the behaviour does not seem consistent nor reliable; doesn't feel like it's purely a documentation issue.

[2019-04-17 19:13] ritazh opened #92 "tracking which secrets are in use by which pods"

[2019-04-25 13:18] allantargino commented on #28
Hi @ritazh,

It would be super nice if we could use a structure like this:

[code]

I was wondering if we could try submit code on the upstream to implement that.
I don't know if this would be the best way, but how about:
1. We create a new `FlexVolumeRefSelector`, like [this one](https://github.com/kubernetes/kubernetes/blob/20b76a2b4a3e3551241a21afe464ca1612624ca1/pkg/apis/core/types.go#L1756)
2

[2019-05-08 15:47] hugree opened #93 "Optional secrets?"
Is there an option that flexvolume won't crash with error when the secrets is missing?

An optional parameter for secrets would be nice :)

[2019-05-08 17:18] ritazh commented on #93
Thanks for the feedback @hugree! Can you please help describe the exact scenario where this is needed? Thanks!

[2019-05-10 05:25] ritazh commented on #76
closed via #94

[2019-05-10 05:25] #76 closed

[2019-05-10 05:25] ritazh commented on #67
closed via #94

[2019-05-13 13:35] allantargino commented on #77
How about storing them in a ConfigMap?

[2019-05-13 17:44] ritazh commented on #77
Hi @allantargino, Like Kubernetes Secrets, ConfigMaps are persisted to etcd as well. So if you are ok with using configmaps to hold data from key vault, then you probably would be ok with using Secrets. But if you are concerned with the security aspect of persisting data to etcd, then this solution will allow you to pull data from key vault without persisting anything to etcd.

[2019-05-13 17:51] ritazh commented on #67
This experience can be improved by fixing issue https://github.com/Azure/aad-pod-identity/issues/181

[2019-05-13 17:53] allantargino commented on #77
Hi @ritazh, thanks for answering the question. But I meant how about storing the properties `keyvaultname`, `resourcegroup`, `subscriptionid`, `tenantid` (and others)  in a ConfigMap?
This way, the user could just pass a `secretRef` (containing the principals) and a configMapRef` (containing these other properties). This would make the pod spec less verbose as @vplauzon mentioned.

[2019-05-31 20:45] kkmsft commented on #67
Adding the request to retry the attempt to call to get the token in key vault-flex volume.

[2019-05-31 20:58] kkmsft opened #96 "Move to using azure sdk instead of using custom logic to contact NMI in aad-pod-idnetity"
Currently we use custom logic to get the token from NMI. We should be ideally using the azure sdk to grab the token below:

		endpoint := fmt.Sprintf("%s?resource=%s", nmiendpoint, resource)
		client := &http.Client{}
		req, err := http.NewRequest("GET", endpoint, nil)
		if err != nil {
			return nil, err
		}
		req.Header.Add(podnsheader, podns)
		req.Header.Add(podnameheader, podname)
		resp, err

[2019-06-07 09:19] jagpreetstamber opened #100 "Support for accessing keyvault using cluster service principal"
In current version we have to create a secret for service principal which would be used to access the keyvault. As we require a service principal to be created before cluster creation and kubernetes already has that service principal there should be an option to it instead of creating a new service principal.

[2019-06-07 09:19] jagpreetstamber opened #101 "Support for accessing keyvault using cluster service principal"
In current version we have to create a secret for service principal which would be used to access the keyvault. As we require a service principal to be created before cluster creation and kubernetes already has that service principal there should be an option to it instead of creating a new service principal.

[2019-06-10 18:49] aramase commented on #96
As per discussion with @ritazh and @kkmsft, replacing calls to nmi with azure sdk is not currently an option because of limitations.

Retry for nmi calls as discussed on our call - https://github.com/Azure/kubernetes-keyvault-flexvol/pull/102 [Pending testing]

[2019-06-10 20:32] ritazh commented on #101
Closing dup of #100

[2019-06-10 20:32] #101 closed

[2019-06-12 17:48] techbunny opened #103 "Windows Container Support"
Will there be future support for windows containers to take advantage of this? Some customers doing application modernization with Windows are also looking for ways to manage secrets across all their containers.

[2019-06-12 19:03] ritazh commented on #103
Currently there is no windows support for this solution. Please +1 if this is a requirement for you.
cc @PatrickLang

[2019-06-12 19:29] PatrickLang commented on #103
This should be feasible, but needs a few high-level changes:

1. The flexvolume plugin binary needs to be deployed to the Windows hosts directly, not as a daemonset. Windows doesn't support mount projection back to the node or privileged containers with support to write directly to the node's filesystem
2. AKS-Engine custom script extension needs to be updated to handle step 1
3. Update place the

[2019-06-14 11:30] rudolphjacksonm opened #104 "Better Error Output for Invalid Property Names"
**Describe the request**
It would be nice if the error output in the `kv` shell script validated all properties passed in the deployment spec before then trying to see if they contain anything. In my case, I tried creating a flex volume but misspelled `tenantid` as `tentantid`. The error I received was not that it was an incorrect property, but rather:
[code]
It would be nice (but not at all requi

[2019-06-20 13:14] rudolphjacksonm commented on #104
Also somewhat related #18

[2019-06-25 14:13] markmcgookin opened #108 "[Request for help] Examples of how to access secrets in code"
Hi,

I've managed to get a K8s cluster setup, setup a CI pipeline for my code to be deployed to a container and pushed to my cluster, I've configured flexvolume, tested it works... but my code is failing. I assume this is because I am assuming that the default IConfiguration integration of keyvault would just work with this.

Is there something different I need to do in code (should I literally lo

[2019-06-25 15:13] markmcgookin commented on #28
How would one update this to export all values from /kvmnt/ to environment variables, assuming there were multiple secrets stored? (Apologies, bash amateur here)

[2019-06-27 16:52] ritazh commented on #96
Closed via #102

[2019-06-27 16:52] #96 closed

[2019-06-27 16:55] ritazh commented on #67
Closed via #102

[2019-06-27 16:55] #67 closed

[2019-06-27 17:03] ritazh commented on #20
Closed via #102

[2019-06-27 17:03] #20 closed

[2019-06-28 13:30] JasonKAls opened #109 "Inconsistent Errors and Propagation Across Deployments"
Hello,

I've been working with MS support engineers for awhile now trying to get FlexVolumes mounted to several pods to integrate KeyVault and AKS (my K8s cluster).  I've run into several problems that have caused confusion in understanding the underlining problems and their solutions.  One of the biggest issues is how after several hours of waiting for FlexVols to mount it seems to spontaneously

[2019-06-28 15:54] ritazh commented on #109
Thanks for reporting this issue @JasonKAls!

From the logs you have shared, it looks like the flexvolume driver was not able mount the volume as pod identity could not get a successful auth token for key vault `failed to get service principal token: nmi response failed with status code: 403`. This error  `The request content has the following duplicate identity ids` suggests the MIC is not able to

[2019-06-28 16:18] JasonKAls commented on #109
Thanks for responding, @ritazh!

I'll provide the other details, but the azure get commands for kubectl have never produced anything for me.  Even for the environments and pods where FlexVols are working.  Any suggestions?

[2019-06-28 16:30] kkmsft commented on #109
Hi @JasonKAls  - the issue https://github.com/Azure/aad-pod-identity/issues/167 was reported in the context that there are already previously assigned identities on the node. Is that the case here - do you have some user assigned identities already assigned on the node for some other operation ?

[2019-06-28 17:15] JasonKAls commented on #109
Hello @kkmsft!

The nodes involved are from an AKS agentpool and only have 1 Managed Identity assigned to it.

[2019-06-28 17:44] ritazh commented on #109
@JasonKAls Can you pls verify what is the mechanism that assigned that one managed identity on that agent node? was it pod identity? did you manually assign the identity to that node? Thanks!

[2019-06-28 17:57] JasonKAls commented on #109
by using `az identity create`

[2019-06-28 19:09] aramase commented on #109
@JasonKAls Thank you for the response. I've a few more questions -
1. Can you pls confirm the identity was never assigned manually using `az vm identity assign`?
2. Did you make any changes the `ResourceID` in the azureidentity during multiple retry attempts?
3. Can you pls post the output from `az vm identity show --resource-group <rg> --name <vm name>`? You can remove the subid from the output a

[2019-07-02 13:09] JasonKAls commented on #109
Hello @aramase!

Before I answer your questions, you should know @ritazh's suggestion to create Managed IDs per deployment seems to be working accept for one.

1. So the way we handle Identity creation is I use `az identity create`. I then need to ask another department to assign the correct permissions to it.  `az vm identity assign` is denied for me.
2. I do believe I tried recreating the Manage

[2019-07-03 15:39] aramase commented on #109
@JasonKAIs Can you send it to me over email - <anramase@microsoft.com>. Please redact the client id/principal id and sensitive information from the output. I just need to verify the resource ID format as it appears in the output.

[2019-07-08 12:23] JasonKAls commented on #109
Done! For future reference for this ticket, JSON output should look like:

[code]
to show each ID attached to a VM.  I have 3 on this one.

[2019-07-08 22:44] aramase commented on #109
@JasonKAls Thank you for posting the output and also for sending it to me through email. I was able to recreate this issue on my cluster.

The issue was caused because the check to see if an id exists on the node was not case insensitive. The resourceID defined in the `AzureIdentity` you provided is ` ResourceID: /subscriptions/****************/resourcegroups/************/providers/Microsoft.Manag

[2019-07-09 11:27] JasonKAls commented on #109
Hello @aramase!

That's fantastic news! Thanks for your teams diligent attention to this issue and for providing a temporary solution for me and my team.  I look forward to the next merger!

[2019-07-16 05:22] kanistha commented on #108
I am trying to integrate the Azure Key Vault using Kuberenetes flexvolume by using a service principal. I have done the steps for key vault configuration and able to load the secrets from flex volume following the steps in https://github.com/Azure/kubernetes-keyvault-flexvol in kubectl. Now I want to read the secrets from Flex-volume into my code. My app is in nodeJS.

[code]

[code]

How I can lo

[2019-07-16 08:45] markmcgookin commented on #108
Hey, I originally posted this question, so I should probably close this issue. Essentially I looped through the files in /kvmnt/ and took the file name as the secret key and the value of the contents of the file as the secret value. My code is C# but I'm sure you could update it for node easy enough. Your secret volume is called "secret-test" but I am storing my path in a config setting called "Se

[2019-07-16 08:46] #108 closed

[2019-07-18 02:07] oxhagolli opened #110 "Debugging"
Is there a way to debug each step in the docs for using keyvault flex volume?

I'm trying to connect keyvault from a different resource group than the AKS cluster. I followed all the steps for AAD Pod Identity, but they're very confusing, especially if you're not super familiar with all the azure concepts. I have a suggestion: specify a command to get every missing piece (clientId, clientSecrets,

[2019-07-19 16:04] ritazh commented on #110
@oxhagolli Thanks for the feedback! Will definitely try to make the instructions more clear.
Regarding the error you got, it seems the service principal used by the AKS cluster does not have permission to assign the new identity to the VMs. Please try the following command:
[code]
This step is here for future reference: https://github.com/Azure/kubernetes-keyvault-flexvol#option-2-pod-identity

[2019-07-22 06:10] TsuyoshiUshio opened #111 "Subscription Id and Tenant Id into Secret"
**Describe the request**

The current yaml file requires SubscriptionId and Tenant Id on the yaml file. I'd like to find a way not to include these on the yaml file.

**Explain why Key Vault FlexVolume needs it**

yaml file is shared sometimes on GitHub. SubscriptionId and TenantId is pretty sensitive. I hope it is not included on a yaml file. I said secret, however, if the objective is achieved,

[2019-07-22 20:54] martyncrow commented on #28
I agree with @martin2176
I feel that there are alot of containers out there that still use env vars as a way to change the behaviour of an application. I appreciate that env vars is not the best approach but using FlexVol to access the KeyVault isn't very helpful in 90% of cases. Maybe providing an interim approach that injects the env variables directly into the container is a compromise. somethi

[2019-07-26 12:59] MinghuaJiang commented on #71
@ritazh I have the similar question, I tried to use config.AddKeyPerFile in my asp.net core application to read the mounted folder, but it seems like I failed to read the secret file. run  kubectl exec can give me the value of the file though.

[2019-07-26 15:15] ritazh commented on #71
Can you please help provide repro steps, sample code snippets? Thanks!

[2019-07-26 18:39] #110 closed

[2019-07-26 21:41] MinghuaJiang commented on #71
apiVersion: v1
kind: Pod
metadata:
  name: pod-keyvault
spec:
  containers:
  - name: pod-keyvault
    image: nginx
    volumeMounts:
    - name: kvsecret1
      mountPath: /kvsecret1
      readOnly: true
  volumes:
  - name: kvsecret1
    flexVolume:
      driver: "azure/kv"
      secretRef:
        name: kvcreds

I have an asp.net core app which I deployed to aks.
  if (context.HostingEnvironmen

[2019-07-26 22:01] ritazh commented on #71
So `kubectl exec -it pod-keyvault ls /kvsecret1` shows each secret listed in`keyvaultobjectnames` as files, but `Directory.Exists("/kvsecret1")` in your asp.net app does not work?

[2019-07-26 22:35] MinghuaJiang commented on #71
Yes. @ritazh.

[2019-07-27 00:56] aramase commented on #109
@JasonKAls 1.5-rc2 is now available. Please try it out and provide us with valuable feedback towards 1.5 release - https://github.com/Azure/aad-pod-identity/releases/tag/1.5-rc2

Closing this issue now. Please reopen if you have any further issues.

[2019-07-27 00:56] #109 closed

[2019-07-29 18:59] adnanalawiyat commented on #71
one way is to save the content of azure key vault secret as a json. Then parse (mounted secret) as json in your app. below is an example for a nodejs app utilizing `nconf` lib. (assuming the secret is mounted as "/secrets/mysecret"

- content of mysecret:
`
{
  "systemX": {
    "clientId": "foo",
    "secret": "bar"
  }
}
`
- then app can consume the secret as follows:

`
const nconf = require('nc

[2019-07-31 05:30] Sifa91 opened #113 "MountVolume.SetUp failed for volume "test" : invalid character '/' looking for beginning of value"
**Describe the bug**
After a fresh installation I tried to add an keyvault-flexvolumet and got a failure. I also checked the /var/log/kv-driver.log and found that there is also an error documented.
"ERROR: {"status": "Failure", "message": "validation failed, resourcegroup is empty"}"

**Steps To Reproduce**
Just do the steps which described in your readme.md

**Expected behavior**

**Key Vault Fle

[2019-07-31 05:38] dirien commented on #113
I can confirm this error also.

[2019-07-31 22:10] aramase commented on #113
@Sifa91 @dirien I tried the steps from the readme with v0.0.11 and I can't recreate the error. The only time I can recreate the scenario is if I don't provide the resource group in the pod spec. Can you confirm the resource group is provided in the pod spec?

[2019-08-02 08:47] Sifa91 commented on #113
Problem solved. RPM JQ was missing.
You can close the issue.

[2019-08-02 08:47] #113 closed

[2019-08-06 15:57] KZeronimo commented on #28
Agree with @martin2176  - the [azure-keyvault-to-kubernetes](https://github.com/SparebankenVest/azure-key-vault-to-kubernetes) project has some good ideas around injecting secrets thru env variables in a secure manner - [intro blog](https://mrdevops.io/introducing-azure-key-vault-to-kubernetes-931f82364354) is worth a read.

@ritazh any chance these projects can cross-pollinate?

[2019-08-09 12:22] fredericksales opened #114 "keyvault-flexvolume with podSecurityPolicy enabled?"
Hello,

I try to use a keyvault-flexvolume on a k8s cluster (AKS) with podsecuritypolicy enabled.

I get the following error:
Error creating: pods "keyvault-flexvolume-" is forbidden: unable to validate against any pod security policy: [spec.volumes[0]: Invalid value: "hostPath": hostPath volumes are not allowed to be used]

I have the following PosSecurityPOlicy applied on the cluster:
apiVersion

[2019-08-09 16:49] aramase commented on #114
@fredericksales Thank you for trying out `kubernetes-keyvault-flexvol`.

Did you create the clusterrole and clusterrolebinding/rolebinding to use that psp?

This is a new psp that I created on my cluster to get it working -

[code]

One thing in general to note - PSPs are evaluated in alphabetical order.

[2019-08-12 05:28] ankrause opened #115 "Concurrent mount may result in success with no secret(s) in the volume"
**Describe the bug**
I have a chart that will create 2 deployments at the same time. Both of these deployments mount a secret from Key Vault using AAD Pod Identity (MSI) authentication. The secrets are mounted into the same relative location in each pod.

Using v0.0.10 of the FlexVolume mounts both secrets without issue. However, updating to 0.0.11 of the FlexVolume may result in only one secret b

[2019-08-12 07:56] fredericksales commented on #114
hello @aramase,

your pss solved  my issue. I created the clusterrole and clusterrolebinding but I missed a little configuration in the cluster role binding.

[2019-08-12 07:56] #114 closed

[2019-08-12 16:15] aramase commented on #115
@ankrause Thank you for reporting the issue. I'll take a look.

[2019-08-12 17:08] aramase commented on #115
@ankrause I'm unable to reproduce this. I've 2 pods landing on the same node, requesting the same secret from same keyvault. The mount and the subsequent write seem to work as expected. Are you able to reproduce this consistently or is this behavior intermittent?

[2019-08-12 20:42] #115 closed

[2019-08-13 05:05] ankrause commented on #115
Thanks for the quick fix!

[2019-08-13 12:48] jpodoba commented on #38
Could you share where is that part for install flex volume in to cluster? I have same issue using non-rbac and pod identity. I'm suspecting that flex volume installation was missed but I cannot find where is that part :-(

[2019-08-13 12:59] ferantivero commented on #38
@jpodoba back then I think the following instruction did the trick: https://github.com/Azure/kubernetes-keyvault-flexvol#option-2-existing-aks-cluster

[2019-08-14 13:34] jpodoba commented on #38
Ok so I did everything from being and looks like ad pod identity working. I did a test from the pod like below:

`curl  http://169.254.169.254/metadata/identity/oauth2/token/?resource=https://vault.azure.net`

And I get Bearer token so I go further with flex volume but still have the same results.

![2019-08-14_15h26_291](https://user-images.githubusercontent.com/51724203/63024733-19e91680-bea8-11

[2019-08-14 16:56] aramase commented on #38
@jpodoba The error you see in the NMI logs is because we updated the azure-sdk to latest version in 1.5.1 release for aad-pod-identity. However keyvault is still using the older version. We have a fix in aad-pod-identity to support backward compatibility for clients using older version - https://github.com/Azure/aad-pod-identity/pull/337. We'll soon get release `1.5.2` with that fix. I'll update h

[2019-08-14 18:13] aramase commented on #38
@jpodoba We have release aad-pod-identity 1.5.2 - https://github.com/Azure/aad-pod-identity/releases/tag/v1.5.2 with the fix. Please try it out and let me know if you encounter any issues.

[2019-08-14 21:48] jpodoba commented on #38
Thanks for quick response I will try in Friday and hope everything will start working. Good job guys.

[2019-08-16 16:43] sukruthakittur opened #119 "MountVolume.SetUp failed for volume"
MountVolume.SetUp failed for volume "kv-vol" : mount command failed, status: Failure, reason: /etc/kubernetes/volumeplugins/azure~kv/azurekeyvault-flexvolume failed, The client 'abc' with object id 'abc' does not have authorization to perform action 'Microsoft.KeyVault/vaults/read' over scope '/subscriptions/subscriptionID/resourceGroups/RSC-GRP/providers/Microsoft.KeyVault/vaults/some-vault' or t

[2019-08-16 17:30] ritazh commented on #119
Hi @sukruthakittur, the `client` and `object` in the error message returned by Azure is the `object id` of the service principal, not to be confused with the `clientid` (also known as `appId`) and the `clientsecret` of the service principal. You can get `objectId` of the service principal via `az ad sp list --spn <CLIENT ID>` or via the portal.

To fix this issue, can you please make sure you have

[2019-08-16 17:53] sukruthakittur commented on #119
@ritazh Thank you for the quick response. This is very helpful. I will resolve the issue on my end and this issue #119 can be closed.

[2019-08-16 18:26] #119 closed

[2019-08-20 06:51] jpodoba commented on #38
Everything working fine after the upgrade

[2019-08-20 17:05] sukruthakittur opened #120 "MountVolume.SetUp failed for volume "xxx": invalid character '\r' in string literal"
**Describe the bug**
MountVolume.SetUp failed for volume "xxx":  invalid character '\r' in string literal

**Steps To Reproduce**
1. Add SPN secret to kube -
kubectl create secret generic kvcreds --from-literal clientid=CLIENTID --from-literal clientsecret=CLIENTSECRET --type=azure/kv

2. Deploy yml
kubectl create -f deployment/nginx-flex-kv.yaml

Here is my deployment yaml. I also modified the ng

[2019-08-20 17:34] ritazh commented on #120
@sukruthakittur Thanks for reporting this issue. Few things to help us debug:

1. Can you please share the specific errors you got from `kubectl describe pod`?
2. Can you pls share logs at /var/log/kv-driver.log from the agent node running your pod?
3. This might just be a typo but your deployment yaml is referencing the `eecreds` k8s secret
[code]
But the secret you created above is `kubectl crea

[2019-08-20 18:42] sukruthakittur commented on #120
1.
[code]

2. ```
Failed to unmarshal output for command: mount, output: "{\"status\": \"Failure\", \"message\": \"/etc/kubernetes/volumeplugins/azure~kv/azurekeyvault-flexvolume failed, F0820 18:39:55.044786 127431 main.go:82] [error] : failed to get vault: failed to get vault ee-bc-tax-vault: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.

[2019-08-20 19:10] #38 closed

[2019-08-20 19:12] ritazh commented on #120
Can you pls make sure the client secret is valid?

[2019-08-20 20:26] sukruthakittur commented on #120
Yep, thank you. I had the wrong secret.

[2019-08-20 23:57] #120 closed

[2019-08-22 08:30] sebastus opened #121 "Obscure error message "MountVolume.SetUp failed for volume "secrets" : invalid character '\r' in string literal""
**Describe the bug**
Message says there's a \r somewhere, but after double checking the actual secrets and the yaml used to deploy into AKS, the error persists.

**Steps To Reproduce**
1. define a service principal with contributor rights to azure
2. write a (kubectl) Deployment yaml file with FV set up and a few secrets in KV
3. deploy

**Expected behavior**
Given the circumstances (see below), t

[2019-08-22 17:56] infogulch commented on #78
Why is this a requirement?  You can validate the provided Keyvault name meets the [officially documented name restrictions](https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#objects-identifiers-and-versioning) (specifically, `Key Vault names are selected by the user and are globally unique.`  and `Key Vault name must be a 3-24 character string, containing only 0-

[2019-08-22 18:47] ritazh commented on #78
Thanks for the feedback @infogulch! Regarding

What about assigning permission to the key vault objects? Are these also restricted? e.g.:
[code]

[2019-08-22 19:36] infogulch commented on #78
Setting access policies in an azure keyvault only requires the Contributor role on the scope of the keyvault.

Whereas assigning an RBAC Reader role on the keyvault to another user (e.g. giving the PI-user Reader role) requires **Owner** permission on the scope.

Conceptually, keyvault is *authenticated* against your AAD tenant, but it's *authorized* based on the access policy, not RBAC.

[2019-08-22 20:41] infogulch commented on #78
Based on quickly scanning the repo, it appears that the only thing that needs to change to eliminate all need for users to alter RBAC is simplifying the [keyvaultFlexvolumeAdapter.getVaultURL()](https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/azurekeyvault-flexvolume/keyvaultFlexvolumeAdapter.go#L131) method to return the vault endpoint based on the name after validating it matche

[2019-08-23 13:02] sebastus commented on #121
By chance I deployed some yaml with an error in it. Again, I got the \r message in the title of this issue. The error was that I had some invalid references - this yaml is designed to have some parameters plugged in by Azure DevOps and I forgot to replace them. For example:

[error] : failed to get vault: failed to get vault __ResourceGroupName__: azure.BearerAuthorizer#WithAuthorization: Failed t

[2019-08-26 00:22] MatejMalicek commented on #28
I can confirm that I have adopted @ritazh 's approach successfully for a Redis configuration that sets a password for Redis. The password is mounted from KeyVault and then read into a variable that is passed into the redis-start command.

This worked with AAD-Pod-Identity enabled (user-assigned managed identity).

Working sample YAML below (just replace necessary values with your own):
[code]

Rea

[2019-08-27 16:28] sukruthakittur opened #123 "Deployment not working - validation failed, resourcegroup is empty"
**Describe the bug**
Flex volumes when mounted as a deployment throws an error

**Steps To Reproduce**
Use the below deployment yaml

[code]

**Expected behavior**
Should mount volume

**Key Vault FlexVolume version**
Latest

**Access mode: service principal or pod identity**
Service Principal

**Kubernetes version**
Client Version: v1.15.3
Server Version: v1.14.6

**Additional context**
Error: _M

[2019-09-11 13:40] bbgobie opened #125 "ClientSecret is logged in /var/log/kv-driver.log"
I'm not sure if this is only if there's an error while mounting, but in my logs I'm seeing log entries like this.

I believe as a best practice the secret should not be logged in plain text like this.

/etc/kubernetes/volumeplugins/azure~kv/azurekeyvault-flexvolume -logtostderr=1 -vaultName=abc -vaultObjectNames=abc -vaultObjectAliases=abc-resourceGroup=abc -dir=/var/lib/kubelet/pods/7b42de67-d48b

[2019-09-11 15:05] ritazh commented on #125
Thanks for reporting this issue. Will fix this soon!

[2019-09-13 17:22] aramase commented on #120
@mohamedfasil If you are using aks, you should be able to ssh into your agent node (https://docs.microsoft.com/en-us/azure/aks/ssh) to view the logs.

[2019-09-16 15:52] #125 closed

[2019-09-16 16:37] landintrees opened #129 "Tag v0.0.13 is using v0.0.12 image in deployment yaml"
**Describe the bug**
It looks like the v0.0.13 tag just missed Rita's version bump on the kv-flexvol-installer.yaml which was updated one day after the tag for a previous commit, so pulling the v0.0.13 deployment actually installs the v0.0.12 image.

**Steps To Reproduce**
We noticed when pulling the deployment yaml like this..
  kubectl --context $CLUSTER apply -f https://raw.githubusercontent.co

[2019-09-16 16:44] ritazh commented on #129
Thanks for reporting this @landintrees! This is not a bug in that we always bump the image tag version in the deployment yaml after a release has been cut. LMK if you have additional questions.

[2019-09-17 11:13] landintrees commented on #129
Thanks Rita, happy to close this if it's intentional but just to confirm, if I grab the deployment that has been tagged with **v0.0.13**, should I be getting the following yaml?:

      containers:
      - name: flexvol-driver-installer
        image: "mcr.microsoft.com/k8s/flexvolume/keyvault-flexvolume:**v0.0.12**"

[2019-09-17 16:00] ritazh commented on #129
@landintrees That's right. We update the deployment yaml _after_ a release has been cut to ensure the image works as expected.

[2019-09-17 16:59] landintrees commented on #129
@ritazh Thanks! Sorry for the dumb questions but does that mean the v0.0.13 tag is moved at a later date to point to the commit with the v0.0.13 image in? How long is it usually until that happens? Is it best for us just to unpin the version and use master for now if we want the v0.0.13 image?

[2019-09-18 05:03] ritazh commented on #129
no worries! As you can see here https://github.com/Azure/kubernetes-keyvault-flexvol/commit/9d66bc071bcf759cc8e1cc85983f5e9a9930ba16 we update the deployment yaml right after we cut the v0.0.13 release. We usually try to update the yaml with the released tag as soon as a release is cut. But you are right, if you just download a release from github, it will still contain the old yaml without the up

[2019-09-18 05:39] #121 closed

[2019-09-18 07:40] timja commented on #78
I've implemented a PR for this:
https://github.com/Azure/kubernetes-keyvault-flexvol/pull/128

[2019-09-24 18:00] #78 closed

[2019-09-24 18:02] ritazh commented on #129
Closing this issue. If you have further questions, feel free to reopen.

[2019-09-24 18:02] #129 closed

[2019-09-24 18:13] ritazh commented on #114
@aramase can you pls add this PSP to the readme?

[2019-10-01 14:14] DigitalMediageek opened #133 "Certificate unreadable?"
Hi,

I've successfully created a flexvolume inside my kubernetes and can access the secrets/certificates from the PODs file system. Looking at the secrets, they appear as expected. However, if looking at a previously imported certificate into AKV, the certificate inside the POD seems to be to short. How do I retrieve the certificate from inside the POD with exactly the contents, I've imported?

[2019-10-02 06:44] DigitalMediageek commented on #133
To be more specific: I'm importing a PEM certificate with the usual content:
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
 and set up flexvolume:
      volumes:
        - name: certificates
          flexVolume:
            driver: "azure/kv"
            secretRef:
              name: certs-kvcreds
            options:

[2019-10-02 06:50] DigitalMediageek commented on #133
Hmm ... seems to work now. Sorry.

[2019-10-02 06:50] #133 closed

[2019-10-07 13:35] DigitalMediageek opened #136 "No logs found and no reasons found for timeout"
I'm getting the following error in POD status:

Unable to mount volumes for pod "xxx": timeout expired waiting for volumes to attach or mount for pod "xxx". list of unmounted volumes=[certificates]. list of unattached volumes=[xxx]

I've been through all tutorials and documentations and can't seem to find a reason nor do I find a log file on any available POD, pointing out why the volume fails. I'

[2019-10-07 16:21] aramase commented on #136
@DigitalMediageek What object are you trying to mount - secret/certificates/key? Since the `keyvault-flexvolume` is a binary that's loaded into each node, the logs are written to a file. You can find the node on which the pod is scheduled, ssh into the node and look at the logs at `/var/log/kv-driver.log`.

[2019-10-07 19:50] jmcshane opened #137 "Azure Firewall blocking integration due to missing SNI header"
**Describe the bug**

When I enable Azure firewall to limit egress traffic (as described here: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic), I get a failure to mount the keyvault volume due to the following being blocked by Azure Firewall:

[code]

In kubernetes, the error is:

[code]

**Steps To Reproduce**

Build AKS cluster, set up Azure Firewall as egress monitor using http

[2019-10-07 20:03] jmcshane commented on #137
Some more information from the logs on the AKS host:

```Mon Oct  7 19:54:28 UTC 2019 PODNAME: myapp-69b5f597f7-crmmb\nMon Oct  7 19:54:28 UTC 2019 mount\nMon Oct  7 19:54:28 UTC 2019 /etc/kubernetes/volumeplugins/azure~kv/azurekeyvault-flexvolume -logtostderr=1 -vaultName=vault-ns1ck0ez -vaultObjectNames=cosmosdb-connection-string;api-ssl-cert;api-ssl-key;appinsights-instrumentationkey -vaultObje

[2019-10-15 14:02] yusmadi commented on #108
I rather use [azurerm_key_vault_secret](https://www.terraform.io/docs/providers/azurerm/d/key_vault_secret.html) to retrieve secret from Azure vault and create secret in AKS using [kubernetes_secret](https://www.terraform.io/docs/providers/kubernetes/r/secret.html) which will be available as [environment variable](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secu

[2019-10-15 14:03] yusmadi commented on #28
I rather use [azurerm_key_vault_secret](https://www.terraform.io/docs/providers/azurerm/d/key_vault_secret.html) to retrieve secret from Azure vault and create secret in AKS using [kubernetes_secret](https://www.terraform.io/docs/providers/kubernetes/r/secret.html) which will be available as [environment variable](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secu

[2019-10-24 17:47] MSLaguana opened #138 "Automatically refresh secrets"
**Describe the request**
When refreshing secrets in keyvault, it would be great if all the pods depending on those secrets didn't have to be restarted, and instead the secrets in the pods were updated after some delay

**Explain why Key Vault FlexVolume needs it**
Unless I'm holding it wrong at the moment, it seems that if I were to change a password in keyvault, any pods currently using that secr

[2019-10-25 15:24] timja commented on #28
We use these libraries for reading the secrets from the file system (spring boot and node.js):
https://github.com/hmcts/properties-volume-spring-boot-starter
https://github.com/hmcts/properties-volume-nodejs

[2019-10-29 11:32] brgsstm commented on #137
Did you receive any response related to this?  Facing the exact same issue. Thanks.

[2019-10-29 13:38] mullerlele opened #139 "Image pulling failed on one of the node in VMSS"
**Describe the bug**
installation failed on one of the nodes in the vmss, due to image pulling failures.

**Steps To Reproduce**
1) create a aks cluster with multiple vmss
2) provision more than 1 instance in one of the vmss (linux)
3) install flexvol based on the instructions
4) image pull back off (for the flexvol image) occurs on one of the node and hence the volume is not present on that node

[2019-10-29 14:09] Mina69 commented on #30
Hi @ritazh I'm using KeyVault with FlexVolume for saving a password that it is gonna be available for AKS pod-container. I went through this doc https://github.com/Azure/kubernetes-keyvault-flexvol however the password that is saved under the mounted volume is in pain-text.
If anyone get access to the pod, can get access to the volume and see the password:
$ kubectl exec -it mypod cat /kvmnt/tests

[2019-10-29 15:44] ritazh commented on #30
Hi @Mina69 thanks for reaching out. The secret content is retrieved and mounted in the same format it was stored in Azure key vault. This solution does not include encryption. If you want to ensure the content is encrypted inside the container, then one way is to store the encrypted content in Azure key vault, then add the decryption mechanism as part of your application to decrypt it once it's re

[2019-10-30 06:37] ritazh commented on #139
Thanks for reporting this issue @mullerlele. I was not able to reproduce this issue on AKS with a 1.14.7 cluster. The image `mcr.microsoft.com/k8s/flexvolume/keyvault-flexvolume:v0.0.15` was pulled successfully on each node. Can you pls try again?

[2019-10-30 12:46] mullerlele commented on #139
Thank you @ritazh for your prompt reply. It still behaves the same - did you try it on a cluster with multiple vmss and aci as a virtual node? (the aci virtual node should not be of any concern in this case, because it is labeled not to have pod scheduled there, but I am only mentioning it here to provide a more detailed context)

[2019-10-30 18:56] evillgenius75 commented on #62
@khenidak that assumes that chaging the keys is always a human/ci/cd interaction, but in case there are some scenarios such as automation key rotation configurations that would make it more complex to do a rolling update just because the dependent system did its normal key change.

[2019-10-31 13:24] arsnyder16 opened #140 "Add support for nginx ingress controller to get secrets"
**Describe the request**
Currently you cannot get secrets from keyvault into nginx ingress controller. It would be nice if the
kubernetes-keyvault-flexvol could sync secrets as native kubernetes secrets.

https://docs.microsoft.com/en-us/azure/aks/ingress-own-tls

**Explain why Key Vault FlexVolume needs it**
It would make Key Vault FlexVolume a fully integrated solution for KeyVault and Kubernete

[2019-10-31 19:52] andloh opened #141 "Container stuck in "Container Creating" trying to mount flex-volume"
**Describe the bug**
Container stuck in Container Creating trying to mount flex-volume.
kv-driver.log= `ERROR: {"status": "Failure", "message": "validation failed, tenantid is empty"}`
and sometimes `{"status": "Success", "capabilities": {"attach": false}}`

testpod: (using this as a template https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/deployment/nginx-flex-kv-podidentity.yaml

[2019-10-31 20:10] aramase commented on #141
@andloh From the logs you posted, looks like the `tenantid` is not set in the test pod you trying? Can you confirm if all the required parameters are set as expected?

Once all the required parameters are set, the error message will no longer appear in the `kv-driver.log`.

For pod-identity, can you check if an `azureassignedidentity` has been created for the pod? `kubectl get azureassignedidentit

[2019-10-31 20:34] andloh commented on #141
Hi @aramase
Thanks for the quick reply. I can confirm that the tenantid parameter is set, and has the correct value.
The pod requesting the secret also get's an `azureassignedidentity`

[code]

[code]
according to the code at `kubernetes-keyvault-flexvol/deployment/flexvol-installer/kv`
it's looks like the tenantid gets checked if its empty first.
[code]
So its possible that the flexvol can't read

[2019-10-31 22:02] aramase commented on #141
Looks like `aad-pod-identity` successfully assigned the identity to the underlying node. So there are no errors with respect to pod-identity.

I can't seem to recreate this. Was the `tenantid` param missing during initial deploy? The exact command that's invoked to mount is printed in the `kv-driver.log`. This should show which all params are missing.

[2019-10-31 22:39] andloh commented on #141
Thanks for the quick response again @aramase

No it was not missing at the initial deploy and I have redeployed the whole stack 2 times. That includes deleting all the associated namespaces, for aad-pod-identity and keyvault-flexvol.

I am using the correct volume settings here?
I had to change the hostPath vaule to `/usr/libexec/kubernetes/kubelet-plugins/volume/exec` from `/etc/kubernetes/volume

[2019-10-31 23:06] aramase commented on #137
@jmcshane @brgsstm could you provide the firewall egress rules being configured? I can then try to reproduce this.

[2019-10-31 23:18] aramase commented on #141
@andloh can you ensure there are no extra spaces after each value? I was just able to recreate this by adding a whitespace to subscription id value.

[code]

the whitespace after subid causes the issue.

[2019-10-31 23:27] andloh commented on #141
Hmmmm @aramase
I have actually checked the all the parameters for whitespace. I will check again tomorrow, just to make sure.

Can you confirm that I am using the correct volume mounts in the comment above?

Thanks again for the quick replies :)

[2019-11-01 04:40] aramase commented on #141
@andloh If you are using an azure (AKS or aks-engine) cluster, then the path needs to be `/etc/kubernetes/volumeplugins/` as kubelet is configured to use that as the `volume-plugin-dir`.

[2019-11-01 17:22] smuthusa opened #143 "Could not configure istio ingressgateway using Azure KeyVault on AKS"
We want to configure the istio ingress gateway to use SSL key & certificate from Azure KeyVault for our Azure managed AKS cluster(version 1.13.11).

The following links are followed
1. https://github.com/Azure/kubernetes-keyvault-flexvol (The ssl certificate is generated using letsencrypt)
   The step to import the key into keyvault given in the document is incorrect.  it doesn't support the optio

[2019-11-01 19:00] jmcshane commented on #137
@aramase I create fqdn rules for each of the entries in this document https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

[2019-11-03 18:24] sharkymcdongles commented on #140
+1

[2019-11-04 12:02] muellermatthias opened #144 "Run containers as non-root"
**Describe the request**
Running containers in Kubernetes as root can be a security issue and should be avoided if possible (see https://kubernetes.io/blog/2018/07/18/11-ways-not-to-get-hacked/#8-run-containers-as-a-non-root-user). It should be possible to run the containers used for the Key Vault FlexVolume as non-root.

**Explain why Key Vault FlexVolume needs it**
Key Vault FlexVolume would be

[2019-11-04 13:38] smuthusa commented on #143
my fault, configuring the values to secret for keyvaultobjectnames solved the issue.

[2019-11-04 13:38] #143 closed

[2019-11-04 13:52] andloh commented on #141
Hi @aramase
Still no success. Tried to redeploy the whole stack multiple times.
Have also recreatet the testfile, https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/deployment/nginx-flex-kv-podidentity.yaml

Did you test this on k8s v1.14.6?

Any other suggestions? Is it possible to simulate the mount in any way? Run the command or code manually ?

[2019-11-04 16:54] ritazh commented on #138
Thanks for the feedback @MSLaguana! This is in our backlog. Closing this as it's a duplicate of https://github.com/Azure/kubernetes-keyvault-flexvol/issues/62

[2019-11-04 16:54] #138 closed

[2019-11-04 20:59] ritazh commented on #139
Hi @mullerlele I tried to repro this but could not. Could you pls provide more detailed repro steps. I followed the steps in [this doc](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli) to create a new AKS cluster. Then ran the following cmds:

[code]

[2019-11-05 16:51] aramase commented on #141
@andloh yes, I've tried on a 1.14.6 cluster and am unable to repro this. This is the yaml I'm using -

[code]

[2019-11-05 20:48] andloh commented on #141
Thanks for the response @aramase

I do get this message when I take a describe on the "Container Creating" stuck pod.
`MountVolume.SetUp failed for volume "test" : invalid character '/' looking for beginning of value`
Any ideas?

Using the same test pod:

[code]

Same error from kv.log:
`ERROR: {"status": "Failure", "message": "validation failed, tenantid is empty"}`

[2019-11-05 21:16] aramase commented on #141
@andloh can you please remove the quotes around the mount path?

[code]

[2019-11-05 21:54] andloh commented on #141
@aramase same error...when removing the quotes :/
`MountVolume.SetUp failed for volume "test" : invalid character '/' looking for beginning of value`

[code]

[2019-11-05 22:13] aramase commented on #141
@andloh I tried the exact same yaml you posted with my values and can't seem to reproduce it -

[code]

[2019-11-06 13:03] i7c commented on #144
Hi,

I’ve rewritten the install.sh script in go and it seems to work with a distroless image then

[code]

[code]

Test it with:
[code]

And it seems to work: the files appear on the host in `/tmp/somedir`

Would you be interested in merging something like this? Then I can try to integrate this in your CI configuration and create a PR.

Cheers,
Constantin

[2019-11-12 19:26] recao opened #146 "Periodically reload KeyVault secrets/certs"
**Describe the request**
As Azure KeyVault is pushing ECR (emergency certificate rotation) https://aka.ms/ecr, it requires services to periodically fetch the latest KeyVault secrets/certs and update accordingly. For AKS microservices, it would be GREAT to have FlexVolume supporting reload KeyVault periodically.

**Explain why Key Vault FlexVolume needs it**
Support of refreshing expired/revokes ce

[2019-11-12 19:35] sudharsan89 commented on #146
Would it be possible to include this request in the [csi secret store project](https://github.com/deislabs/secrets-store-csi-driver) as well

[2019-11-15 19:56] lee0c opened #148 "Proposed documentation updates"
**Describe the request**

Current documentation (primarily the main README file) is unclear in places and uses poor examples. Proposed changes (I am happy to make these if y'all OK any/all of them) in solution field.

**Explain why Key Vault FlexVolume needs it**

Current docs are confusing and misleading to users, especially users who are less familiar with YAML & Kubernetes ecosystem cooncepts.

[2019-11-15 21:00] ritazh opened #149 "Update doc and deploy for >= v0.0.13"
**Describe the request**
This issue serves as a reminder that we need to update doc and deployment once we stop supporting < v0.0.13

**Explain why Key Vault FlexVolume needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-11-16 04:56] stewartadam commented on #148
It should also be noted in the docs that spaces **must not** be present after semicolon-separated values in the config values or else parsing errors occur (I would add that the errors are extremely unclear/unrelated to the root cause when this happens - for example it will complain that a config key like 'tenantid' or 'resourcegroup' provided is empty, when it is not)

[2019-11-17 15:51] macpak commented on #71
I've tried to do the same what @MinghuaJiang  described and it worked for me.

[2019-11-18 14:48] aelij opened #151 "Create PEM files directly in volumes"
**Describe the request**
Currently KVFV allows fetching certificates in the PFX format, which is not usable by many Linux components. It's possible to use `initContainers` and call `openssl` to [convert them](https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/docs/traefik-tls-certificate.md), but it would be much simpler if the extension would convert to PEM files by specifying an op

[2019-11-22 16:51] johnlento opened #152 "Question: Is the Flexvolume a ram disk?"
**Describe the request**
This is just a generic question but I can’t seem to tell if the Flex Volume is backed in tmpfs.  Could you confirm if the secrets in the volume are stored in non-persistent storage?

**Explain why Key Vault FlexVolume needs it**
No secrets on disk!
**Describe the solution you'd like**
Secrets in a RAM disk.

**Describe alternatives you've considered**

**Additional context

[2019-11-23 00:40] ritazh commented on #152
Good question @johnlento! And yes it is a tmpfs volume. https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/deployment/flexvol-installer/kv#L148

Hope this helps!

[2019-11-26 01:03] veligithub opened #153 "Got string - expect map"
eployments.extensions "istio-ingressgateway" was not valid:
# * : Invalid value: "The edited file failed validation": ValidationError(Deployment.spec.template.spec.volumes[3].flexVolume.secretRef): invalid type for io.k8s.api.core.v1.LocalObjectReference: got "string", expected "map"

**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**Key Vault FlexVolume version**

**Access mo

[2019-11-26 01:05] veligithub commented on #153
Applied strictly the procedure.

[2019-11-26 01:05] #153 closed

[2019-11-26 01:07] veligithub opened #154 "SSL with ISTIO"
**Describe the bug**
During the modification of the istio-ingressgateway:

eployments.extensions "istio-ingressgateway" was not valid:
# * : Invalid value: "The edited file failed validation": ValidationError(Deployment.spec.template.spec.volumes[3].flexVolume.secretRef): invalid type for io.k8s.api.core.v1.LocalObjectReference: got "string", expected "map"

**Steps To Reproduce**

**Expected beha

[2019-11-26 01:13] veligithub commented on #154
It is coming during the insertion of :
  - mountPath: /etc/istio/keyvault-certs
          name: keyvault-certs
          readOnly: true

and

      - name: keyvault-certs
        flexVolume:
          driver: "azure/kv"
          secretRef:
            kvcreds
          options:
            usepodidentity: "false"
            keyvaultname: "i have the name of my kv here"
            keyvaultobject

[2019-11-26 01:14] aramase commented on #154
@veligithub this needs to be
[code]

[2019-11-26 09:20] veligithub commented on #154
I am sorry but based on the article https://github.com/Azure/kubernetes-keyvault-flexvol i am using :
      secretRef:
        name: kvcreds

nevertheless i have this error

[2019-11-26 10:09] #154 closed

[2019-12-02 15:02] sarndt opened #155 "Missing Documentation on how to configure for sovereign cloud environments"
Hello,

I would like to use flex-volume backed keyvaults in a different cloud than the "normal" Azure cloud. I saw that issue #15 describes a property called "CloudName" for usage to specify which cloud should be used.

Is this option already usable? If so, where do I need to add it, and what are the possible values?
If it is not usable, please also state this, as we're currently planning to use t

[2019-12-04 15:54] rventuri76 commented on #28
for dot net core i'm using Key-per-file Configuration Provider
https://docs.microsoft.com/it-it/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#key-per-file-configuration-provider

[2019-12-04 18:32] kuritka commented on #28
Hi,

i'm curious by those two lines in  Deployment:

[code]

At the end of the day I must  push yaml into github and not sure i I want to share this information. I don't mean it bad but using it this way adds me another layer of complexity to hide azure secrets.

[2019-12-04 18:36] timja commented on #28
Subscription ID is no longer needed, we ended up just making tenant id public, as it was a lot more work to hide it than not.

[2019-12-05 09:56] muellermatthias commented on #144
Running the container as non-root doesn't seem to be possible at the moment as root-access is needed to copy the binaries to the host, see https://github.com/kubernetes/community/issues/4171#issuecomment-547182573

[2019-12-05 09:56] #144 closed

[2019-12-05 16:42] varspare opened #157 "Troubleshooting - receiving cert error"
I'm trying out flexvolume and finding that although the mountpoint appears I cannot see the test secret.

Config
`    spec:
      volumes:
        - name: test
          flexVolume:
          driver: "azure/kv"
          secretRef:
            name: kvcreds
          options:
            usepodidentity: false
            sevmmanagedidentity: false
            vmmanagedidentityclientid: clientid

[2019-12-11 14:53] horvatic opened #159 "Update docs to indicate if works with non azure kubernetes clusters"
As of now the docs only talk about AKS. There is no indication this will work with self hosted, or google cloud kubernetes clusters.

Add a section to indicate this is supported or tested on other clusters

[2019-12-11 17:09] horvatic opened #160 "Fails on Google Cloud Cluster"
Name:           keyvault-flexvolume-gqg8r
Namespace:      kv
Priority:       0
Labels:         app=keyvault-flexvolume
                controller-revision-hash=d7dbfd8b
                pod-template-generation=1
Annotations:    <none>
Status:         Running
Controlled By:  DaemonSet/keyvault-flexvolume
Containers:
  flexvol-driver-installer:
    Container ID:
    Image:          mcr.microsoft.com/

[2019-12-11 17:13] horvatic commented on #160
Google Kubernetes Engine (GKE) uses a non-standard FlexVolume plugin directory: /home/kubernetes/flexvolume.

[2019-12-11 17:13] #160 closed

[2019-12-11 21:29] horvatic commented on #141
I am having the same issue, using Service Principal

Here is my yaml
[code]

[2019-12-16 04:00] horvatic commented on #151
Can you post the work around? Looks like the cert, and key format are converted to something none pem. Which is really annoying...

[2019-12-16 08:21] aelij commented on #151
@horvatic The workaround is in the above link.

[2019-12-16 10:38] sarndt commented on #155
Is anyone alive around here?

[2019-12-16 15:38] horvatic commented on #151
Works like a charm. Also works for Istio!

[2019-12-16 17:11] #155 closed

[2019-12-16 17:12] aramase commented on #141
@andloh Has the issue been resolved?

[2019-12-16 17:21] andloh commented on #141
Hi, I dont know. I haven't tried since we last talked. I can try again some time soon, I will let you know :)

[2020-01-09 14:16] jeffloyd opened #163 "Alpine base image out of Date"
**Describe the bug**
Need to update the alpine base image to 3.11 in the dockerfile for flexvol-installer to address known CVE's.

**Key Vault FlexVolume version**
v0.0.15

[2020-01-09 15:05] jeffloyd opened #165 "Runtime hardening for user and group"
**Describe the bug**
Current Dockerfile in the flexvol-installer does not create an image that limits the flexvol to run as a certain user, so by default will run as the root user.  Best practices from a security perspective is to set the run as USER in the container to a non-root user.

**Expected behavior**
The container runs flexvol runtimes as flexvol user

**Key Vault FlexVolume version**
v0.

[2020-01-09 18:23] aramase commented on #163
Closed with https://github.com/Azure/kubernetes-keyvault-flexvol/pull/164

[2020-01-09 18:23] #163 closed

[2020-01-09 22:50] bandarusrinivas opened #167 "Unable to pull image from Microsoft azure container registry - NSG Rules"
**Describe the bug**

The team has deployed Azure pod identity which uses pods from Microsoft Container Registry. They use service tags to allow the outbound network traffic. The MicrosoftContainerRegistry tag was applied to an outbound network security rule for port 443. The team is getting the following event in their AKS cluster when trying to pull the image:

The IP address 204.79.197.219 is n

[2020-01-10 19:41] #167 closed

[2020-01-10 19:42] bandarusrinivas commented on #167
Closing this issue as this is not related to the flex volume, will check with Microsoft azure network team.

[2020-01-16 09:07] snodnipper opened #168 "Support 1.17.0"
**Describe the bug**
When using 1.17.0 AKS I encountered the following error.  Returning to 1.15.5 worked fine.

[code]

**Key Vault FlexVolume version**
keyvault-flexvolume:v0.0.15

**Kubernetes version**
1.17.0

[2020-01-16 17:50] aramase commented on #168
@snodnipper The apiVersion `extensions/v1beta1` has been deprecated as of 1.16+. We will update the api version in the manifest to `apps/v1`. Thank you for opening the issue.

[2020-01-18 23:27] ohthehugemanatee commented on #168
also, the spec for a DaemonSet now requires a spec.selector value which matches the metadata for the pod itself. Used to tell which pods were started by this Daemonset.  So it should look like
[code]

I would open a PR, but I'm not sure how you deal with backwards compatibility for this kind of breaking change.

[2020-01-19 00:51] ritazh commented on #168
Thanks @ohthehugemanatee! PRs are welcome! 👏 We should move to the new api version as the k8s versions we support should work with newer api versions too.

[2020-01-19 13:58] ohthehugemanatee commented on #168
Thanks for clarifying, here you go!

[2020-01-21 08:51] #168 closed

[2020-01-21 13:25] mturzynski opened #170 "Import PFX file into KVM volume"
**Describe the request**
I'd like the original PFX file to be imported into KVM volume, in case "secret" type is specified.

**Explain why Key Vault FlexVolume needs it**
The documentation says:

This is incompatible with existing solutions, as no app expects BASE-64 encoded PFX file. I don't understand why the plain PFX file cannot be imported into KVM volume? Is there any security reason?

**Des

[2020-01-26 00:43] DavidNorena commented on #62
Hi guys any updates on this ?

[2020-01-27 12:42] andloh commented on #141
Hi, still no luck with this...
Maybe I will try it again some other time, when I am on AKS.
In this case it's Docker Enterprise on Azure.

Thanks for help anyways :)

[2020-01-27 12:43] #141 closed

[2020-01-28 15:01] tanwarsatya commented on #62
Any update on this backlog item, what's the priority of this in backlog any timeline/update ?

[2020-01-28 17:08] DeanPH commented on #28
@ritazh Is there any further movement on supporting env variables or better yet injection into Kubernetes secrets? This is currently holding us back from using this solution. We have 15 existing applications, some microservices, some SOA, that currently read from environment variables and we can't change how every application works, dev time/effort vs reward does not justify this.

First prize wou

[2020-01-28 19:12] andrewboxer commented on #28
@ritazh further to the above. Ideally we would like something that works exactly as per - https://github.com/SparebankenVest/azure-key-vault-to-kubernetes - it may be worth talking to https://github.com/torresdal

[2020-01-28 20:55] ritazh commented on #28
Thank you for all the feedback everyone! The existing implementation does not create any K8s secrets as the intent is to keep your secrets where it is safe, not in etcd where it is not encrypted. But it sounds like there are users who are okay with keeping the content in etcd as K8s secrets. If that's the case for you, can you give a 👍 to this comment for adding another option to this solution to

[2020-01-28 21:28] andrewboxer commented on #28
@ritazh  I guess the feature we would like to see is the injection of secrets directly into the environment of the running process as per the SparebankenVest solution, this does not expose the secret at any point and uses a mutating webhook to inject the secret into the environment of the running process, only the akv2k8 pod needs access to the keyvault and only a placeholder is visible at any poi

[2020-01-28 22:03] timja commented on #28
Why not just use the mutating webhook that has already been written?

[2020-01-29 07:17] andrewboxer commented on #28
@timja We are currently exploring options in this space and whilst the Norwegian solution fits our use case and needs, from a corporate perspective we would be more comfortable with a more widely supported officially sanctioned solution.
@ritazh  Do you think this kind of solution would be considered for addition to a microsoft offering?

[2020-01-30 11:11] martin2176 commented on #28
I think creating a k8s secret from the kv flex vol  is better than having to read the mounted file and use it in ENV variable. But SparebankenVest solution is still the best. Also, creating a static secret inside kubernetes means how quickly is that secret going to be updated when the value in key vault is updated. Out of sync between key vault values and k8s secret will be another challenge.

I a

[2020-01-31 19:00] ritazh commented on #28
AKS uses Storage Service Encryption (SSE) for "encryption at rest" but this is not true for non-AKS clusters.

[2020-02-04 12:28] pratham98k opened #171 "we need CD in AzureDevops"
**Describe the request**
we  need CD in AzureDevops & terraform template.
**Explain why Key Vault FlexVolume needs it**
current KeyVault FlexVolume integration in difficult.
**Describe the solution you'd like**
Please prepare Continuous Deployment template for AKS & key Vault  deployment. and Terraform template.
**Describe alternatives you've considered**
using k8s secrets
**Additional context**

[2020-02-04 21:24] rahul24 commented on #103
Any plans to support Windows containers?

[2020-02-07 05:13] Spaceman1861 commented on #140
+1 this would be awesome

[2020-02-07 14:59] je2ryw commented on #137
Similar issue here as well but with the ingress controller deployment. With all suggested Azure Firewall egress rules, the nginx ingress controller pods failed with both Liveness and Readiness. In the "AzureFirewallApplicationRule" log, many "HTTPS request from 10.21.131.x:xxxx. Action: Deny. Reason: SNI TLS extension was missing".

[2020-02-07 17:26] aramase commented on #137
While using access mode - pod identity, this can help with resolving this issue - https://github.com/Azure/aad-pod-identity/issues/467#issuecomment-577045311

For all other components, if deployed in non kube-system namespace on aks cluster, then with egress lock down enabled, the API server port:443 needs to be whitelisted (https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-

[2020-02-07 21:06] je2ryw commented on #137
Thanks @aramase! The suggested solution solved the ingress controller issue. I used following 2 commands to override the api server setting for the controller deployment:

kubectl set env deployment/nginx-ingress-xxx-controller KUBERNETES_SERVICE_HOST=xxx.azmk8s.io
kubectl set env deployment/nginx-ingress-xxx-controller KUBERNETES_SERVICE_PORT=443

[2020-02-09 09:41] namoshizun commented on #148
+1. This is a very useful add-on but unfortunately the documentation is just not so comprehensible...

[2020-02-26 13:17] jmspring opened #175 "Syntax for keyvaultobjects should use yaml dictionaries instead of strings"
Currently, if one wishes to expose one or more keyvault objects via Flexvolume, you must manually concat the information for each object across multiple string values:

        keyvaultobjectnames
        keyvaultobjectaliases
        keyvaultobjecttypes
        keyvaultobjectversions

With values for each object separated by a delimiter.   `keyvaultobjectaliases` and `keyvaultobjectversions` are

[2020-02-26 19:25] arsnyder16 commented on #140
@ritazh Is there any insight into the priority of the enhancements being proposed, or what enhancements are currently being worked on.

Seems as if enhancements are being proposed but there is no feedback from the kubernetes-keyvault-flexvol contributors

[2020-02-26 23:32] ritazh commented on #140
Apologies for the delay. Seems this request is similar to this one https://github.com/Azure/kubernetes-keyvault-flexvol/issues/28#issuecomment-579451206 can you pls confirm?

[2020-02-27 13:22] arsnyder16 commented on #140
@ritazh Possibly, its not clear to me from that thread what is being proposed and what is being considered by the team.  There seems to be three cases `Environment Variables`, `k8s Secrets`, `mutating webhook to inject the secret into the environment of the running process`.

Currently nginx ingress only supports k8s secrets. Unless i am missing another way to configure, but i am following the gui

[2020-03-03 14:50] blueelvis opened #176 "Is there any documentation on the limitations of this?"
**Describe the request** : Is there any consolidated document which lists out the limitations of the Key Vault Flex Volume? For example, it doesn't support Windows containers etc.

**Explain why Key Vault FlexVolume needs it** : It makes decision making a lot easier.

**Describe the solution you'd like** : A consolidated document with a bulleted list of items which are the limitations and a link t

[2020-03-05 18:31] flamingboo commented on #140
This is a show-stopper for my ingress nginx on AKS - the private key & certificate should come from a vault (in this case, AKV).
Is this in the backlog?

[2020-03-06 09:44] kwaazaar commented on #140
Some K8S solutions rely on K8S secrets. To enable KV as a central store for all secrets, it should also support these solutions and thus support syncing to K8S secrets.

[2020-03-06 09:59] kwaazaar opened #177 "Filename transformation support"
**Describe the request**
Key Vault itself has limitations on the secret names. The name of the KV-secret is also used as the filename they are stored on the flexvol volume. This becomes a problem when the consuming application expects a certain naming convention, eg a configuration system.

**Explain why Key Vault FlexVolume needs it**
I use the .NET Core configuration system. Imagine this json co

[2020-03-06 12:13] kwaazaar commented on #177
So I just found the keyvaultobjectaliases property :-D

[2020-03-06 12:13] #177 closed

[2020-03-06 12:53] kwaazaar commented on #175
I totally agree. My configuration is becoming pretty messy. And this is just the first deployment where I try to use kv-flexvol:
[code]
(I need objectaliases because of requirements of the .NET configuration system)

A default for type would be nice too: secret. If you have different type of secrets, you could simply add another volume.

[2020-03-06 19:43] helayoty opened #179 "Add support for Traefik ingress controller to get k8s secrets"
**Describe the request**
flexvol cannot be used to get secrets from keyvault into the Traefik ingress controller. It would be nice if the kubernetes-keyvault-flexvol could retrieve secrets as native kubernetes secrets.

**Explain why Key Vault FlexVolume needs it**

 KeyVault FlexVolume needs to be a fully integrated solution for KeyVault. Customers don't feel ok with adding credentials  directly

[2020-03-07 13:55] pwc-sc opened #180 "Always getting ERROR: failed to get keyvaultClient: failed to get key vault token: failed to get service principal token"
**Describe the bug**
The deployed pod , same as in your provided sample : nginx-flex-kv-podid
always fails with ERROR:
Unable to mount volumes for pod "nginx-flex-kv-podid_default(af5c5b2c-1a1c-4bc6-91da-f83479ec0c96)":timeout expired waiting for volumes to attach or mount for pod "default"/"nginx-flex-kv-podid". list of unmounted volumes=[test]. list of unattached volumes=[test default-token-s9cc

[2020-03-07 19:42] pwc-sc commented on #180
Dear team

I succedded to make ot working but only using the Service Principal as explained on:
https://github.com/Azure/kubernetes-keyvault-flexvol#option-1-service-principal

The only question I have please:
How can I used pods and deployments other then namespace default, the only one available to mount the volume with the secrets from KeyVault

"how to "please...

Nice weekend!

[2020-03-09 12:21] pwc-sc opened #181 "how control the FlexVolume mapping in a specific namespace"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**
Control the Volume mapping in a desired K8S namespace
**Key Vault FlexVolume version**

**Access mode: service principal or pod identity**
service principal
**Kubernetes version**
1.15
**Additional context**
Dear team
using the instruction I was able to start a pod container and map the FlexVolume inside the pod using the service

[2020-03-09 20:21] ritazh commented on #165
This solution requires permission to create a new directory for the volume plugin on the host. kubernetes/community#4171 (comment) Closing this PR for now. Please reopen if you have questions.

[2020-03-09 20:21] #165 closed

[2020-03-09 20:22] #152 closed

[2020-03-09 20:30] ritazh commented on #181
Following the [steps](https://github.com/Azure/kubernetes-keyvault-flexvol#option-1-service-principal) to use a service principal, before you deploy your pod/deployment to a namespace, make sure `kubectl create secret generic kvcreds` is created in the same namespace.

[2020-03-09 21:09] ritazh commented on #180
@pwc-sc for pod identity mode:
Can you please provide the following information?

1. Output from kubectl get azureassignedidentities -o yaml. [Please redact any sensitive information from the output before you post it here].
2. Can you also post the complete logs from MIC and NMI pods?

[2020-03-10 18:40] trhumphries opened #182 "Issue running in Minikube"
Unable to attach or mount volumes: unmounted volumes=[kvconfig2 kvconfig1], unattached volumes=[kvconfig2 default-token-27tbn kvconfig1]: failed to get Plugin from volumeSpec for volume "kvconfig1" err=no volume plugin matched; failed to get Plugin from volumeSpec for volume "kvconfig2" err=no volume plugin matched

Setup LV Flexvolume in Minikube using service principal

Volume should be mounted

[2020-03-10 18:45] pwc-sc commented on #180
hello @ritazh
These are the running resources in default namespace:
kubectl get all --all-namespaces |grep -i identity
default        pod/aad-pod-identity-mic-5d48ccdf96-qq5gp                             1/1     Running             0          3d22h
default        pod/aad-pod-identity-mic-5d48ccdf96-vxrxg                             1/1     Running             0          3d22h

default        deplo

[2020-03-10 20:24] nmiodice commented on #111
Also interested in this. What is the best practice for swapping these values based on stage (i.e., `dev`, `prod`)?

[2020-03-10 20:28] timja commented on #111
subscriptionId is optional and tenantId is often fairly static, we just hardcode it as we only have one tenant that we deploy to

[2020-03-10 20:31] nmiodice commented on #111
We deploy `dev` and `prod` to different subscriptions. Would be great to swap these out by stage, along with the `keyvaultname`

[2020-03-10 20:32] timja commented on #111
then this doesn't apply? subscription id doesn't do anything any more, it's just ignored

[2020-03-10 20:42] aramase commented on #180
@pwc-sc Can you provide the output for the following [data](https://github.com/Azure/kubernetes-keyvault-flexvol/issues/180#issuecomment-596780555) that @ritazh requested. The logs will provide details on any errors.

[2020-03-10 21:20] aramase commented on #182
@trhumphries While installing on `minikube` the target dir needs to be https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/deployment/kv-flexvol-installer.yaml#L47. Once you update `/etc/kubernetes/volumeplugins` to `/usr/libexec/kubernetes/kubelet-plugins/volume/exec`  in the manifest and deploy to minikube it should work.

Can you please try that out?

[2020-03-11 13:15] kwaazaar commented on #175
A format similar to this would be nice and allows easier migration in the future:
[https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/azure_v1alpha1_secretproviderclass.yaml](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/azure_v1alpha1_secretproviderclass.yaml)

[2020-03-11 13:43] Shaked opened #183 "Using KeyVault FlexVolume with Autoscaler"
**Describe the request**

Hey, I'm currently using GKE and AKS (different purposes). When using GKE, I have set autoscaler to run a minimum 0 GPU nodes in order to save money.

The problem is that once a GPU node is up, the keyvault-flexvol installation is not available.

If  there's a way to let the autoscaler know that it needs to install keyvault-flexvol (or any other .yaml) that would solve th

[2020-03-11 15:03] Anufryieu commented on #103
I also need this feature.

[2020-03-11 17:08] berndverst commented on #183
Does it work fine for CPU instances provisioned by auto scaling? Maybe the issue is just with the DaemonSet node selector.

Manually modify the node selector for the DaemonSet here and deploy your modified YAML.

https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/deployment/kv-flexvol-installer.yaml

[2020-03-11 18:27] ritazh commented on #103
This feature is being tracked in these issues. Please subscribe to get the latest:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/115
https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/29

[2020-03-12 01:51] ritazh commented on #175
Thanks for the feedback @jmspring!

@kwaazaar https://github.com/kubernetes-sigs/secrets-store-csi-driver is the next generation of this flexvol solution/repo. Please start using the secrets store csi driver as this solution will slowly be deprecated.

[2020-03-12 07:52] kwaazaar commented on #175
You should mention this in the readme! I accidentally found the CSI driver solution, but it deserves a prominent place on the front page.

[2020-03-12 21:19] Shaked commented on #183
I'm seeing another error, I think it's related to permissions though. Will report back

Labels are matching and I have edited the .yaml file accordingly.

Currently I'm not seeing it on the gpu server and I think that it won't work either way because the secretRef is not set automatically.

[2020-03-17 08:09] r0bnet commented on #137
Any updates from official side here?
I'm facing the same problem now for other services that need to talk to the API service. In my case it's the cainjector as part of the cert-manager. I tried the solution @je2ryw mentioned here too but it doesn't work (set it on the cert-manager deployment level).
On the FW is see the same message about the `SNI TLS extension missing`.

[2020-03-18 11:08] karataliu commented on #15
Already supported? There is 'cloudname' parameter.

[2020-03-18 14:28] ritazh commented on #15
Yes thanks @karataliu! Closing this issue.

[2020-03-18 14:28] #15 closed

[2020-03-25 06:22] JuneZhao opened #185 "VM managed identify supported or not? New in version >= v0.0.15] What is the version refers to?"
**Describe the request**

I want to know whether VM based AKS cluster was supported if using managed identity or not I dont find similar topic in the doc

In the section of below part, what version does this refer to?

OPTION 4: VMSS System Assigned Managed Identity [New in version >= v0.0.15]

OPTION 3: VMSS User Assigned Managed Identity [New in version >= v0.0.15]

[2020-03-26 08:33] r0bnet commented on #137
I could fix this yesterday by allowing traffic to ports 22, 443 and 9000 (to any target) and then i didn't have the problem anymore and my services could connect to the API service. I had 22 and 9000 already added but 443 was missing.
Not 100% sure but i think MS added this to their documentation just recently. Anyway we could now get rid of @je2ryw's workaround by setting those vars explicitly si

[2020-03-31 16:30] aramase commented on #185
@JuneZhao Are you using VM based AKS cluster? This is supported with VM based AKS cluster too.

The version `v0.0.15` refers to the keyvault-flexvolume release - https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/deployment/kv-flexvol-installer.yaml#L27

[2020-03-31 16:35] aramase commented on #182
Closing this issue with https://github.com/Azure/kubernetes-keyvault-flexvol/issues/182#issuecomment-597323434. Please feel free reopen if the above comment doesn't resolve the issue.

[2020-03-31 16:35] #182 closed

[2020-04-01 01:50] JuneZhao commented on #185
@aramase  Thank you for the notification, is the process same as VMSS based cluster if we want to use managed identity for key vault?

[2020-04-01 16:47] aramase commented on #185
@JuneZhao That's right. One thing to note though, while assigning identity to the VMSS using `az vmss identity assign`, the identity will be assigned on the vmss and will be available for all instances in the vmss. In case of VM, you'll need to assign the identity to each VM individually `az vm identity assign`. This needs to be done to ensure no matter which node the pod lands on, the keyvault-fl

[2020-04-05 21:44] Shaked commented on #183
Hey @berndverst,

I have been testing one of those two issues - the CPU problem with the missing tenantId.

I have finally figured what is the root cause of this! While running manually the `kv` binary on the node, I see the following error:

[code]

As this is a GKE node, I cannot install `jq`.

Any ideas how this can be fixed?

[2020-04-07 12:32] Shaked commented on #183
Hey @berndverst

I have finally found the problem.

The GPU nodes contain a taint:

[code]

https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

This means that in order for keyvault-flexvol to work, one will have to update the `kv-flex-installer.yaml` `tolerations`:

[code]

I will add this to the PR.

[2020-04-11 00:42] berndverst commented on #183
Hi @ritazh , hope you are well :)

Can you look at this issue or PR #186  for removing the reliance on `jq` at least outside of AKS? There appear to be some folks wanting to use KeyVault from GKE and `jq` isn't available there.

Also, it would be good to provide some instructions for adding the toleration to the daemonset spec in case someone wants to run the Flex Volume driver on GPU nodes as wel

[2020-04-11 12:45] Shaked commented on #183
@berndverst

Honestly, I think that by default the installation should work on all types of nodes i.e uncomment `toleration` part and instead add a comment why it's there

[2020-04-13 19:57] ms-mullins commented on #140
+1 needed

[2020-04-14 00:36] berndverst commented on #183
@Shaked I suppose it doesn't really matter anymore. I just learned that mounting KeyVault will be done differently in the future. Kubernetes moves fast as you know! Check this out:
https://github.com/Azure/secrets-store-csi-driver-provider-azure

You'll need to use the Service Principal option if you are not running on AKS / AKS Engine clusters in Azure.

[2020-04-14 08:52] ibattat commented on #62
Hi guys any updates on this ?

[2020-04-14 16:37] Shaked commented on #183
@berndverst

I will definitely check it out, thank you!

I still think that it will take time to migrate from the current implementation of keyvault-flexvol to the new one, and easier to upgrade its version than migrating and putting our resources on it.

Therefore, I'd still be happy if this PR will be accepted.

Do you know if the new implementation will allow to import secrets from AKV directly

[2020-04-14 23:05] berndverst commented on #183
@ritazh and team is whom you have to convince :)

[2020-04-15 04:12] ritazh commented on #183
@Shaked sorry for the delay and thank you for the PR. will review and test the PR soon!

[2020-04-15 22:48] aramase commented on #185
Closing this issue. Please feel free to reopen if you have any more questions.

[2020-04-15 22:48] #185 closed

[2020-04-15 23:26] aramase commented on #181
Closing this issue because of inactivity. Please feel to reopen if you are still having issues.

[2020-04-15 23:26] #181 closed

[2020-04-15 23:27] aramase commented on #136
Closing this issue due to inactivity. Please feel free to reopen if you are still having issues.

[2020-04-15 23:27] #136 closed

[2020-04-16 10:24] bhardwahnitish19 opened #187 "can't mount flex volume to pod: timeout expired waiting for volumes to attach or mount for pod"
**Describe the bug**
I am trying to use flexvolume with pod identity. Even through kubelet tries multiple times, I am getting same time(tried for almost 7-8 times) and the pod status is stuck at ContainerCreating.

**Steps To Reproduce**
[code]
**Expected behavior**
Volume must be mounted after couple of re-tries
**Key Vault FlexVolume version**

**Access mode: service principal or pod identity**

[2020-04-16 15:58] aramase commented on #187
@bhardwahnitish19 Looks like NMI is returning an error while requested for a token. Can you please check the NMI and MIC logs for pod-identity to see why the identity assignment is failing?

[2020-04-16 16:29] bhardwahnitish19 commented on #187
@aramase Thanks for your quick response. I am not sure how to check those logs. It would be great if you can point me towards it.

Appreciate your help

[2020-04-16 16:36] aramase commented on #187
@bhardwahnitish19 For the MIC logs -

`kubectl get pods --all-namespaces | grep mic`

There will be 2 pods for MIC. Check the logs for each pod to see if there are any errors. MIC is the component in pod-identity that assigns the identity the underlying VM/VMSS node. NMI is the component that checks if the identity has been assigned, if pod has access to the identity, fetches and returns the token

[2020-04-17 06:38] aramase commented on #137
Closed with https://github.com/Azure/aad-pod-identity/pull/488

[2020-04-17 06:38] #137 closed

[2020-04-18 22:50] syedhassaanahmed commented on #140
+1. Our current workaround is to use cert-manager with LetsEncrypt, but we prefer provisioning and storing certificates in Key Vault.

[2020-04-20 11:34] bhardwahnitish19 commented on #187
@aramase Thanks, I will check and update the logs for reference.

[2020-04-20 11:45] bhardwahnitish19 opened #188 "What's the format of exported Key?"
1) Is the **Private key** which is being mounted on FlexVolume is **Base64 encoded** or encoded by any other algorithm **or it's just in the plain text without any encoding**?

2) Is there a way to **fetch public and private key separately**?(not in a single file as we get with secret)

Thanks

[2020-04-21 05:50] aramase commented on #180
Closing this issue because of inactivity. Please feel free to reopen if you're still having issues.

[2020-04-21 05:50] #180 closed

[2020-04-21 21:07] ritazh commented on #188
Hi @bhardwahnitish19 Thanks for reporting this.

We are deprecating this solution in favor of https://github.com/Azure/secrets-store-csi-driver-provider-azure as flexvol is deprecating in K8s upstream.

With the secrets store csi driver Azure provider [PR](https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/52) and this [PR](https://github.com/kubernetes-sigs/secrets-store-csi-dr

[2020-04-22 04:49] bhardwahnitish19 commented on #188
Hi @ritazh

Thanks for the update. It would be great if you can share some details about will the new solution provide a way to fetch public and private key separately? I assume that should work with new solution if we can get certs and keys in plain text. Please correct me if I am wrong.

Thanks

[2020-04-22 09:07] bhardwahnitish19 commented on #188
FYI - Mount volume always fails if I choose keys in flex volume. It fails specifically for the certificate that I have generated by CLI. Steps to generate Cert:

1) Created a CSR _(where keyproperties.exportable is true)_
2) Got this CSR to signed by a third party CA
3) Merged the generated public key/cert in Key Vault.

Not sure if I am missing something.

[2020-04-22 14:54] pplavetzki commented on #180
I've been able to duplicate the described bug  in my environment.  From the mic pod i receive the following errors in `mic`:
[code]
Also here is the log for `nmi`:
[code]
#### Access mode: service principal or pod identity
PodIdentity

#### Kubernetes version
1.16.7

[2020-04-22 16:13] aramase commented on #180
@pplavetzki Looks like the SP/user assigned identity doesn't have the required `Virtual Machine Contributor` permissions on the vmss. If you're using a Managed identity enabled AKS cluster, the required role assignments for pod-identity are documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md. Once you provide the required role assignments, restart the

[2020-04-24 10:28] bhardwahnitish19 opened #189 "Mount Volume Fails for EC certs while Key is selected to be eported."
**Describe the bug**
Mount volume always fails if I choose keys in flex volume for EC certificates.  Logs:

[code]

Steps to generate Cert:

1. Created a CSR _(where keyproperties.exportable is true, keyType": "EC")_
2. Got this CSR signed by a third party CA
3.  Merged the generated public key/cert in Key Vault.

**Authentication used:** _SP_

**NOTE**: Same flexVolume settings and steps to gener

[2020-04-28 08:38] aelmanaa commented on #111
why is tenantid needed?  especially if we use pod identities:  the managed resource which the pod refers to is already part of a tenant. Seems redundant to repeat "tenantid" in the specifications of the pod

[2020-04-28 08:48] aelmanaa commented on #151
thanks for the workaround @aelij

this would be a nice enhancement indeed

[2020-04-30 00:24] epseattle opened #194 "Is is possible to access keyvault in another tenant, different from where AKS cluster is hosted in?"
I have a scenario to access secrets stored in a keyvault in a different tenant/subscription, other than the one AKS cluster lives in.

I know this is impossible for some cases, (i.e., accessing through ARM template deployment).
I was wondering if we have similar restrictions in flex vol.

Thanks :)

[2020-05-05 16:03] chintanr97 commented on #189
Hi @bhardwahnitish19 , a quick question. When you say "I choose keys in flex volume for EC certificates" do you mean you just need private key in the pod?

What I understand is following:

1. You are creating an EC "certificate" object in key vault first. You get the CSR signed and enable the certificate by uploading the signed CSR. Right?
2. Now the certificate object in key vault is a combinatio

[2020-05-06 05:33] ritazh commented on #140
Hi everyone! 👋 We have recently added the [sync with Kubernetes secrets feature](https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-sync-with-kubernetes-secrets) in Secrets Store CSI driver. To see how it works for nginx ingress controller tls, PTAL at this doc: https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/sample/ingress-controller-tls

[2020-05-06 05:58] bhardwahnitish19 commented on #189
Hi @chintanr97

Please find my comments inline:

_Do you mean you just need private key in the pod?_ I need both public & private key in pod. But, need them in different locations like _/var/privatekey_ & _/var/publickey_. **These must be in pem format** so that the application can utilize easily without any type conversions.
To achieve this, I am trying to export **key** and mount it at _/var/pri

[2020-05-06 06:31] chintanr97 commented on #189
Great! I understood! Hope the updated comments [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/71) help the project owners to create the required solutions.

[2020-05-26 10:49] taasest8 commented on #194
Hello Evan

this works, our AKS Clusters are in different Subscriptions and different Tenants as their Keyvaults and both works.

Cheers,
Stefan

[2020-06-19 15:31] sabideep1 commented on #180
Need help with this issue.

I am not getting below error while deploying the container.

Logs from Pod
failed to get keyvaultClient: failed to get key vault token: nmi response failed with status code: 404

MIC logs:
vmss.go:117] azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to

NMI logs:
1 server.go:191] Status (404) took 100003621803 ns for req.method=GET reg.

[2020-06-19 16:16] aramase commented on #180
@sabideep1 Can you provide the logs from MIC pods?

[code]

The MIC pods should contain logs as to why identity assignment failed. Please ensure you've provided all the required role assignments as documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md and the `AzureIdentity` and `AzureIdentityBinding` have the correct case - https://github.c

[2020-06-19 18:48] sabideep1 commented on #180
@aramase  MIC logs:
Failed to update VM with error azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/********/resourceGroups/****/providers/Microsoft.Compute/virtualMachineScaleSets/***********:
 StatusCode=0 -- Original Error: adal:
 Failed to execute the refresh request.
 Error = 'Post "https://login.microsoftonline.co

[2020-06-25 21:32] sabideep commented on #180
@aramase
**<ClusterResourceGroup>**: Is this resource group belongs to AKS cluster or  VMSS? We have separate resourcegroup for AKS Cluster and VMSS. It works when tested with AKS cluster Group. It is confusing in the document.
az role assignment create --role "Managed Identity Operator" --assignee <ID> --scope /subscriptions/<SubscriptionID>/resourcegroups/<ClusterResourceGroup>
az role assignmen

[2020-06-25 21:37] sabideep commented on #180
@aramase
<ClusterResourceGroup>:We have separate ResourceGroup for AKS and VMSS. Is this AKS or VMSS Resource Group?
I tested with AKS resourcegroup and it works.
az role assignment create --role "Managed Identity Operator" --assignee <ID> --scope /subscriptions/<SubscriptionID>/resourcegroups/<ClusterResourceGroup>
az role assignment create --role "Virtual Machine Contributor" --assignee <ID> --s

[2020-06-25 21:52] aramase commented on #180
@sabideep As documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md#performing-role-assignments

[code]

the cluster resource group refers to `MC_` rg where the VMSS are.

If you have identities in different rg than the cluster rg, then the additional required role assignments are documented here -https://github.com/Azure/aad-pod-identity/blo

[2020-08-07 08:39] gkriti1988 commented on #62
hi folks....any progress / alternative please?

[2020-08-07 14:29] aramase commented on #62
@gkriti1988 https://github.com/Azure/secrets-store-csi-driver-provider-azure is the next generation of this flexvol solution/repo. Please start using the secrets store csi driver and Azure Key Vault provider as this solution will slowly be deprecated.

We are working on adding automatic reload for the mounted contents feature in the secrets-store-csi-driver. The feature is being tracked here - htt

[2021-01-13 22:21] #151 closed

[2021-01-19 10:46] jcamu commented on #28
Hi,

Like @andrewboxer, we would like an official solution to inject env variables into our applications from kv without storing them in AKS ( the interest of storing these variables for security concern into kv is limited if they are replicated as k8s secrets)
Is this planned or at least a documentation which will officially support the akv2k8s solution?

Thanks.

[2021-01-19 12:19] ronaldmiranda commented on #28
Hi @jcamu

This feature is in the new csi secret storage https://github.com/Azure/secrets-store-csi-driver-provider-azure

[2021-01-19 12:33] jcamu commented on #28
Thanks for the response @ronaldmiranda.

The "[OPTIONAL] Set ENV VAR" feature seems to need the sync with a kubernetes secret.
But by doing this, we will be in the case of sensitive information stored and accessible from kubernetes secrets.
While akv2k8s solution don't store the secrets values in k8s secrets only the reference.

Am i wrong?

[2021-01-26 22:22] ronaldmiranda commented on #28
@jcamu sorry for late reply, but yes, you are right.
If you have any concern described [here](https://akv2k8s.io/#when-to-use-the-env-injector), you may want to use akv2k8s instead.

[2021-02-09 17:25] ElYusubov commented on #111
I am also interested to see how sub and tenant Id info could be protected.
Please, provide secret support.

[2021-02-09 17:32] aramase commented on #111
Hey everyone,

Thanks for the feedback!

[AKV Provider for Secrets Store CSI Driver](https://github.com/Azure/secrets-store-csi-driver-provider-azure) is the next generation of this flexvol solution/repo. Please start using the secrets store csi driver as this solution has been deprecated.

[2021-04-08 04:29] #159 closed

[2021-07-26 16:56] ukreddy-erwin opened #197 "Azure key vault volume not accessible, how to fix that?"
I have followed the walkthrough provided in this [link](https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/)

And at step 6, I have tried to create a pod with the volume linked to the keyvault.

But it is not able to access the volume.

kubectl get pods
NAME                                         READY   STATUS              RESTARTS   AGE
busybox-secrets-st

[2021-08-11 04:27] joymon commented on #182
Hi @aramase ,
I am getting the same error. Could you please help me with the path that needs to be used as I am using K8s on Docker Desktop Win 10 machine with WSL2 backend.

May I use the same path below  suggested for minikube?
/usr/libexec/kubernetes/kubelet-plugins/volume/exec

[2021-08-11 13:28] joymon opened #198 "MountVolume.SetUp failed for volume "" : invalid character '/' looking for beginning of value"
**Describe the bug**

I followed the tutorial given in the readme of this project to set up my local dev environment. But the pod is not getting started. Below is the error from kubectl describe pod.

_Warning  FailedMount  11m (x6 over 27m)       kubelet            Unable to attach or mount volumes: unmounted volumes=[azkvvolume], unattached volumes=[azkvvolume default-token-bkfjq]: timed out wai

[2021-08-16 18:11] aramase commented on #198
@joymon Thank you for reporting the issue!

https://github.com/kubernetes-sigs/secrets-store-csi-driver is the next generation of this flexvol solution/repo. Please use the secrets store csi driver as this solution is deprecated and the repository is going to be archived.